In [63]:
import pandas as pd
import numpy as np

from sklearn.base import clone
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Perceptron
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import make_scorer
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import log_loss

import warnings
# warnings.filterwarnings('ignore')

### Clean Chess Dataset

In [64]:
# https://www.kaggle.com/datasnaek/chess
chess_df = pd.read_csv('Data/games.csv')
chess_df.head()

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
0,TZJHLljE,False,1.504210e+12,1.504210e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5
1,l1NXvwaE,True,1.504130e+12,1.504130e+12,16,resign,black,5+10,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,4
2,mIICvQHh,True,1.504130e+12,1.504130e+12,61,mate,white,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,3
3,kWKvrqYL,True,1.504110e+12,1.504110e+12,61,mate,white,20+0,daniamurashov,1439,adivanov2009,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,D02,Queen's Pawn Game: Zukertort Variation,3
4,9tXo1AUZ,True,1.504030e+12,1.504030e+12,95,mate,white,30+3,nik221107,1523,adivanov2009,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,Philidor Defense,5

In [65]:
chess_num_cols = ['created_at', 'last_move_at', 'turns', 'white_rating', 'black_rating', 'opening_ply']
for num_col in chess_num_cols:
    chess_df[num_col] = (chess_df[num_col] - chess_df[num_col].mean()) /chess_df[num_col].std()

chess_df['winner_white'] = chess_df['winner'] == 'white'
chess_df = chess_df[['rated', 'created_at', 'last_move_at', 'turns', 'victory_status',
                     'white_rating', 'black_rating', 'opening_eco', 'opening_ply', 'winner_white']]

# max_openings = 30
# popular_opennings = chess_df['opening_eco'].value_counts()[:max_openings].index.tolist()
# def replace_opening(x):
#     if (x in popular_opennings):
#         return x
#     else:
#         return 'other'

# chess_df['opening_eco'] = chess_df['opening_eco'].apply(replace_opening)

chess_df.head()

,rated,created_at,last_move_at,turns,victory_status,white_rating,black_rating,opening_eco,opening_ply,winner_white
0,False,0.722528,0.722501,-1.413916,outoftime,-0.331779,-1.366951,D10,0.065431,True
1,True,0.719721,0.719694,-1.324552,resign,-0.942931,-1.126431,B00,-0.292076,False
2,True,0.719721,0.719694,0.015907,mate,-0.345513,-0.305227,C20,-0.649582,True
3,True,0.719020,0.718992,0.015907,mate,-0.541219,-0.463283,D02,-0.649582,True
4,True,0.716213,0.716185,1.028698,mate,-0.252810,-0.411743,C41,0.065431,True

In [66]:
chess_df_X = chess_df.drop(columns=['winner_white'])
chess_df_y = chess_df['winner_white']

In [67]:
chess_X_cat_col = ['rated', 'victory_status', 'opening_eco']
chess_X = pd.get_dummies(columns=chess_X_cat_col, data=chess_df_X)

chess_y = chess_df_y.replace({True: 1, False: 0})

### Clean Mushrooms Dataset

class: edible(e), poisonous(p)

cap-shape: bell(b), conical(c), convex(x), flat(f), knobbed(k), sunken(s)

cap-surface: fibrous(f), grooves(g), scaly(y), smooth(s)

cap-color: brown(n), buff(b), cinnamon(c), gray(g), green(r), pink(p), purple(u), red(e), white(w), yellow(y)

bruises: bruises(t), no(f)

odor: almond(a), anise(l), creosote(c), fishy(y), foul(f), musty(m), none(n), pungent(p), spicy(s)

gill-attachment: attached(a), descending(d), free(f), notched(n)

gill-spacing: close(c), crowded(w), distant(d)

gill-size: broad(b), narrow(n)

gill-color: black(k), brown(n), buff(b), chocolate(h), gray(g), green(r), orange(o), pink(p), purple(u), red(e), white(w), yellow(y)

stalk-shape: enlarging(e), tapering(t)

stalk-root: bulbous(b), club(c), cup(u), equal(e), rhizomorphs(z), rooted(r), missing(?)

stalk-surface-above-ring: fibrous(f), scaly(y), silky(k), smooth(s)

stalk-surface-below-ring: fibrous(f), scaly(y), silky(k), smooth(s)

stalk-color-above-ring: brown(n), buff(b), cinnamon(c), gray(g), orange(o), pink(p), red(e), white(w), yellow(y)

stalk-color-below-ring: brown(n), buff(b), cinnamon(c), gray(g), orange(o), pink(p), red(e), white(w), yellow(y)

veil-type: partial(p), universal(u)

veil-color: brown(n), orange(o), white(w), yellow(y)

ring-number: none(n), one(o), two(t)

ring-type: cobwebby(c), evanescent(e), flaring(f), large(l), none(n), pendant(p), sheathing(s), zone(z)

spore-print-color: black(k), brown(n), buff(b), chocolate(h), green(r), orange(o), purple(u), white(w), yellow(y)

population: abundant(a), clustered(c), numerous(n), scattered(s), several(v), solitary(y)

habitat: grasses(g), leaves(l), meadows(m), paths(p), urban(u), waste(w), woods(d)

In [68]:
# https://www.kaggle.com/uciml/mushroom-classification
shrooms = pd.read_csv('Data/mushrooms.csv')
shrooms.head()

,class,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,...,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
0,p,x,s,n,t,p,f,c,n,k,...,s,w,w,p,w,o,p,k,s,u
1,e,x,s,y,t,a,f,c,b,k,...,s,w,w,p,w,o,p,n,n,g
2,e,b,s,w,t,l,f,c,b,n,...,s,w,w,p,w,o,p,n,n,m
3,p,x,y,w,t,p,f,c,n,n,...,s,w,w,p,w,o,p,k,s,u
4,e,x,s,g,f,n,f,w,b,k,...,s,w,w,p,w,o,e,n,a,g

In [69]:
shrooms_df_X = shrooms.drop(columns=['class'])
shrooms_df_y = shrooms['class']

In [70]:
shrooms_X = pd.get_dummies(data=shrooms_df_X)
shrooms_y = shrooms_df_y.replace({'e': 0, 'p': 1})

### Clean Cardio Dataset

Retrieved from the kaggle site https://www.kaggle.com/sulianova/cardiovascular-disease-dataset, this cardio dataset has 70000 samples and 12 variables, which were collected at the moment of medical examination. It contains a target variable that indicates the presence or absence of cardiovascular disease, as well as 11 features that might be associated with the presence of cardiovascular disease, such as age, gender, and blood pressure. There are 3 types of 11 input features:
- objective feature: factual information
- examination feature: results of medical examination
- subjective feature: information given by the patient

A more detailed description of 11 features are shown below:

- age: objective feature, int (days)
- height: objective feature, int (cm)
- weight: objective feature, float (kg)
- gender: objective feature, categorical code, 1: male, 2:female
- ap_hi: systolic blood pressure, examination feature, int
- ap_lo: diastolic blood pressure, examination feature, int
- cholesterol: examination feature, categorical code, 1: normal, 2: above normal, 3: well above normal
- gluc: glucose, examination feature, categorical code, 1: normal, 2: above normal, 3: well above normal
- smoke: subjective feature, binary, 0: do not smoke, 1: smoke
- alco: alcohol intake, subjective feature, binary, 0: do not drink alcohol, 1: drink alcohol
- active: physical activity, subjective feature, binary, 0: not physically active, 1: physically active

A detailed description of the target variable is shown below: 

- cardio: presence or absence of cardiovascular disease, binary, 0: disease not present, 1: disease present

For this dataset, we want use those 11 input features and apply machine learning algorithms to predict whether a person has cardiovascular disease or not.

In [71]:
# load the cardio dataset
cardio = pd.read_csv('data/cardio.csv', delimiter = ';')
cardio.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [72]:
# no missing values in cardio dataset
cardio.isnull().sum()

id             0
age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
dtype: int64

In [73]:
# drop unnecessary column "id"
cardio = cardio.drop(columns = ['id'])
# convert age in days to age in years
cardio['age'] = cardio['age'].apply(lambda x: int(x/365))

In [74]:
# one hot encoding categorical input features stored in cate_cols
cate_cols = ['gender', 'cholesterol', 'gluc', 'smoke', 'alco', 'active']
cardio = pd.get_dummies(columns = cate_cols, data = cardio)

In [75]:
# a look at cleaned dataset
cardio.head()

,age,height,weight,ap_hi,ap_lo,cardio,gender_1,gender_2,cholesterol_1,cholesterol_2,cholesterol_3,gluc_1,gluc_2,gluc_3,smoke_0,smoke_1,alco_0,alco_1,active_0,active_1
0,50,168,62.0,110,80,0,0,1,1,0,0,1,0,0,1,0,1,0,0,1
1,55,156,85.0,140,90,1,1,0,0,0,1,1,0,0,1,0,1,0,0,1
2,51,165,64.0,130,70,1,1,0,0,0,1,1,0,0,1,0,1,0,1,0
3,48,169,82.0,150,100,1,0,1,1,0,0,1,0,0,1,0,1,0,0,1
4,47,156,56.0,100,60,0,1,0,1,0,0,1,0,0,1,0,1,0,1,0

In [76]:
# split the cardio dataset into input features and labels 
cardio_X = cardio.drop(columns=['cardio']) # input features
cardio_y = cardio['cardio'] # true lables

### Clean Rain Dataset

Retrieved from the kaggle site https://www.kaggle.com/jsphyg/weather-dataset-rattle-package, this Rain in Australia dataset contains about 10 years of daily weather observations from many locations across Australia. There are 145460 samples and 23 variables in this dataset. It contains a target variable that indicates whether it rained the next day, as well as 22 features that might be associated with the target variable, such as minimum temperature, maximum temperature, rainfall of the day.

A more detailed description of 22 features are shown below:

- Date: the date of observation
- Location: the common name of the location of the weather station
- MinTemp: the minimum temperature in degrees celsius
- MaxTemp: the maximum temperature in degrees celsius
- Rainfall: the amount of rainfall recorded for the day in mm
- Evaporation: the so-called Class A pan evaporation (mm) in the 24 hours to 9am
- Sunshine: the number of hours of bright sunshine in the day
- WindGustDir: the direction of the strongest wind gust in the 24 hours to midnight
- WindGustSpeed: the speed (km/h) of the strongest wind gust in the 24 hours to midnight
- WindDir9am: direction of the wind at 9am
- WindDir3pm: direction of the wind at 3pm
- WindSpeed9am: wind speed (km/hr) averaged over 10 minutes prior to 9am
- WindSpeed3pm: wind speed (km/hr) averaged over 10 minutes prior to 3pm
- Humidity9am: humidity (percent) at 9am
- Humidity3pm: humidity (percent) at 3pm
- Pressure9am: atmospheric pressure (hpa) reduced to mean sea level at 9am
- Pressure3pm: atmospheric pressure (hpa) reduced to mean sea level at 3pm
- Cloud9am: fraction of sky obscured by cloud at 9am. This is measured in "oktas", which are a unit of eigths. It records how many eigths of the sky are obscured by cloud. A 0 measure indicates completely clear sky whilst an 8 indicates that it is completely overcast
- Cloud3pm: fraction of sky obscured by cloud (in "oktas": eighths) at 3pm. See Cload9am for a description of the values
- Temp9am: temperature (degrees C) at 9am
- Temp3pm: temperature (degrees C) at 3pm
- RainToday: whether the precipitation (mm) in the 24 hours to 9am exceeded 1mm, Yes: the precipitation exceeded 1mm, No: it did not exceed 1mm

A detailed description of the target variable is shown below: 

- RainTomorrow: whether amount of next day rain exceeded 1mm, Yes: next day precipitation exceeded 1mm, No: it did not exceed 1mm

For this dataset, we want use those 22 input features and apply machine learning algorithms to predict whether it rained the next day or not.

Data source: http://www.bom.gov.au/climate/dwo/ and http://www.bom.gov.au/climate/data.

In [77]:
# load Australian rain dataset
aus = pd.read_csv('Data/weatherAUS.csv')
aus.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [78]:
# display the number of missing values in each column
aus.isnull().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [79]:
# fill missing values in categorical columns with the mode 
cate_cols = aus.dtypes.index[aus.dtypes == "object"].tolist()
for cate_col in cate_cols:
    aus[cate_col] = aus[cate_col].fillna(aus[cate_col].mode()[0])

In [80]:
# fill missing values in numerical columns with the mean
num_cols = aus.dtypes.index[aus.dtypes == "float64"].tolist()
for num_col in num_cols:
    aus[num_col] = aus[num_col].fillna(aus[num_col].mean())

In [81]:
# all missing values are filled
aus.isnull().sum()

Date             0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RainTomorrow     0
dtype: int64

In [82]:
# split the date of each observation into year, month, and day
splitted_date = aus['Date'].str.split('-')

# create 'Year', 'Month', 'Day' columns using splitted results of the date
aus['Year'] = splitted_date.str[0].astype(int)
aus['Month'] = splitted_date.str[1].astype(int)
aus['Day'] = splitted_date.str[2].astype(int)

# drop original 'Date' column
aus = aus.drop(columns = ['Date'])

In [83]:
# use 0 and 1 to indicate whether it rained or not
# 0: it rained, 1: it did not rain
aus['RainToday'] = aus['RainToday'].replace({'No': 0, 'Yes': 1})
aus['RainTomorrow'] = aus['RainTomorrow'].replace({'No': 0, 'Yes': 1})

In [84]:
# one hot encoding all categorical columns
cate_cols = aus.dtypes.index[aus.dtypes == "object"].tolist()
aus = pd.get_dummies(columns = cate_cols, data = aus)
aus.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,...,WindDir3pm_NNW,WindDir3pm_NW,WindDir3pm_S,WindDir3pm_SE,WindDir3pm_SSE,WindDir3pm_SSW,WindDir3pm_SW,WindDir3pm_W,WindDir3pm_WNW,WindDir3pm_WSW
0,13.4,22.9,0.6,5.468232,7.611178,44.0,20.0,24.0,71.0,22.0,...,0,0,0,0,0,0,0,0,1,0
1,7.4,25.1,0.0,5.468232,7.611178,44.0,4.0,22.0,44.0,25.0,...,0,0,0,0,0,0,0,0,0,1
2,12.9,25.7,0.0,5.468232,7.611178,46.0,19.0,26.0,38.0,30.0,...,0,0,0,0,0,0,0,0,0,1
3,9.2,28.0,0.0,5.468232,7.611178,24.0,11.0,9.0,45.0,16.0,...,0,0,0,0,0,0,0,0,0,0
4,17.5,32.3,1.0,5.468232,7.611178,41.0,7.0,20.0,82.0,33.0,...,0,1,0,0,0,0,0,0,0,0

In [85]:
# split the rain dataset into input features and labels 
aus_X = aus.drop(columns=['RainTomorrow']) # input features
aus_y = aus['RainTomorrow'] # true lables

### Clean BnB Dataset

The dataset is from https://www.kaggle.com/dgomonov/new-york-city-airbnb-open-data?select=AB_NYC_2019.csv, and contains data from AirBnB listing and metrics in New York City, New York for the year 2019. There are 47900 unique values in this dataset, in which we will be using different features to predict whether an AirBnB pricing is expensive or not.

In [3]:
# load the AirBnb dataset
airbnb = pd.read_csv('data/AB_NYC_2019.csv')
airbnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [4]:
# We will be looking at these features of the AirBnB for our predictive model
airbnb = airbnb[['neighbourhood_group','latitude','longitude','room_type', 'price',
                       'minimum_nights','number_of_reviews','availability_365']]

In [5]:
# The price median will be the threshold for our expensive classifier
airbnb['price'].median()

106.0

In [6]:
# Creating a new column with prices greater than the median as True, lesser than as False
airbnb = airbnb.assign(
    is_expensive = airbnb.get('price') > 106.0
)
airbnb.head()

,neighbourhood_group,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,availability_365,is_expensive
0,Brooklyn,40.64749,-73.97237,Private room,149,1,9,365,True
1,Manhattan,40.75362,-73.98377,Entire home/apt,225,1,45,355,True
2,Manhattan,40.80902,-73.94190,Private room,150,3,0,365,True
3,Brooklyn,40.68514,-73.95976,Entire home/apt,89,1,270,194,False
4,Manhattan,40.79851,-73.94399,Entire home/apt,80,10,9,0,False

In [7]:
# split data into input features and labels
airbnb_df_X = airbnb.drop(columns=['is_expensive'])
airbnb_df_y = airbnb['is_expensive']

In [8]:
# one hot encoding for the categorical columns
airbnb_X_cat_col = ['neighbourhood_group', 'room_type']
airbnb_X = pd.get_dummies(columns=airbnb_X_cat_col, data=airbnb_df_X)

airbnb_y = airbnb_df_y.replace({True: 1, False: 0})

### Clean Olympic Dataset

The dataset is from https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results?select=athlete_events.csv, and includes historic data of all participants from the Olympic Games, from Athens 1896 to Rio 2016. There are 271116 unique values/observations. We want to see whether or not we can predict a gold medalist just by participant features.

In [10]:
# load the Olympic dataset
olympic = pd.read_csv('data/athlete_events.csv')
olympic.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [11]:
# These are the features we will be looking at for our classifier
olympic = olympic[['Sex', 'Age','Height','Weight','NOC','Sport','Medal']]
olympic.head()

  Sex   Age  Height  Weight  NOC          Sport Medal
0   M  24.0   180.0    80.0  CHN     Basketball   NaN
1   M  23.0   170.0    60.0  CHN           Judo   NaN
2   M  24.0     NaN     NaN  DEN       Football   NaN
3   M  34.0     NaN     NaN  DEN     Tug-Of-War  Gold
4   F  21.0   185.0    82.0  NED  Speed Skating   NaN

In [12]:
# There are some NaN values in this dataset, so we want to remove those
olympic.shape

(271116, 7)

In [13]:
# This removes the NaN values from the numerical columns
olympic = olympic[olympic['Height'].notna()]
olympic = olympic[olympic['Weight'].notna()]
olympic = olympic[olympic['Age'].notna()]
olympic.head()

  Sex   Age  Height  Weight  NOC          Sport Medal
0   M  24.0   180.0    80.0  CHN     Basketball   NaN
1   M  23.0   170.0    60.0  CHN           Judo   NaN
4   F  21.0   185.0    82.0  NED  Speed Skating   NaN
5   F  21.0   185.0    82.0  NED  Speed Skating   NaN
6   F  25.0   185.0    82.0  NED  Speed Skating   NaN

In [14]:
# After that cleaning, we are left with 206165 participants to work with
olympic.shape

(206165, 7)

In [15]:
# We want to make a column to see if the participant is a Gold Medalist
olympic['Gold'] = olympic['Medal']=='Gold'
olympic.head()

  Sex   Age  Height  Weight  NOC          Sport Medal   Gold
0   M  24.0   180.0    80.0  CHN     Basketball   NaN  False
1   M  23.0   170.0    60.0  CHN           Judo   NaN  False
4   F  21.0   185.0    82.0  NED  Speed Skating   NaN  False
5   F  21.0   185.0    82.0  NED  Speed Skating   NaN  False
6   F  25.0   185.0    82.0  NED  Speed Skating   NaN  False

In [16]:
# We no longer need the Medal column
olympic = olympic.drop(columns=['Medal'])
olympic.head()

  Sex   Age  Height  Weight  NOC          Sport   Gold
0   M  24.0   180.0    80.0  CHN     Basketball  False
1   M  23.0   170.0    60.0  CHN           Judo  False
4   F  21.0   185.0    82.0  NED  Speed Skating  False
5   F  21.0   185.0    82.0  NED  Speed Skating  False
6   F  25.0   185.0    82.0  NED  Speed Skating  False

In [17]:
# split the olympic dataset into input features and labels
olympic_df_X = olympic.drop(columns=['Gold'])
olympic_df_y = olympic['Gold']

In [18]:
# one hot encode all the categorical columns
olympic_X_cat_col = ['Sex','NOC','Sport']
olympic_X = pd.get_dummies(columns=olympic_X_cat_col, data=olympic_df_X)
olympic_y = olympic_df_y.replace({True: 0, False: 1})

### Perform Trials

In [86]:
# Parameters for the model
tree_params = [
    {
        'max_depth': [2,3,4,5,7,10,13,15,18,None], 
        'min_samples_split':[2,3,5,7,10,15,20],
        'min_samples_leaf':[2,3,5,7,10,15,20]
    }
]

log_reg_params = [    
    {
        'solver': ['lbfgs'],
        'max_iter': [5000],
        'penalty': ['l2'],
        'C': np.logspace(-4, 4, 9)
    },
    {
        'solver': ['saga'],
        'max_iter': [5000],
        'penalty': ['l1', 'l2'],
        'C': np.logspace(-4, 4, 9)
    },
    {
        'solver': ['saga', 'lbfgs'],
        'max_iter': [5000],
        'penalty': ['none']
    }
]

perceptron_params = [
    {
        'penalty': ['l1', 'l2', 'elasticnet', 'none'],
        'alpha': [0.00001, 0.0001, 0.001, 0.01, 0.1]
    }
]

svc_params = [
    {
        'kernel': ['linear'],
        'C': 10 **np.array(np.arange(-3, 2, 2), dtype='float32')
    },
    {
        'kernel': ['poly'],
        'degree': [2, 3],
        'C': 10 **np.array(np.arange(-3, 2, 2), dtype='float32'),
    },
    {
        'kernel': ['rbf'],
        'C': 10 **np.array(np.arange(-3, 2, 2), dtype='float32'),
        'gamma': [0.001,0.01,0.1,1,2]
    }
]

knn_params = [
    {
        'n_neighbors': np.arange(1, 106, 4),
        'metric': ["euclidean", "manhattan", "minkowski"]
    }
]

forest_params = [
    {
        'n_estimators': [1024],
        'min_samples_split': [1, 2, 4, 6, 8, 12, 16, 20]
    }
]

models_without_svm = {
    'tree': (DecisionTreeClassifier(), tree_params),
    'log_reg': (LogisticRegression(), log_reg_params),
    'perceptron': (Perceptron(), perceptron_params),
    'knn': (KNeighborsClassifier(), knn_params),
    'forest': (RandomForestClassifier(), forest_params)
}

models_only_svm = {
    'svm': (SVC(), svc_params)
}

In [87]:
# perform trials on dataset
def perform_trials(dataset_name, models, data_X, data_y):
    results_columns = ['dataset', 'model', 'trial',
                       'train_accuracy', 'train_precision', 'train_recall', 'train_specificity',
                       'train_f1', 'train_roc_auc', 'train_log_loss',
                       'test_accuracy', 'test_precision', 'test_recall', 'test_specificity',
                       'test_f1', 'test_roc_auc', 'test_log_loss']
    scoring = {
        'accuracy': make_scorer(accuracy_score),
        'precision': make_scorer(precision_score),
        'recall': make_scorer(recall_score),
        'specificity': make_scorer(recall_score, pos_label=0),
        'f1': make_scorer(f1_score),
        'roc_auc': make_scorer(roc_auc_score),
        'log_loss': make_scorer(log_loss)
    }
    
    num_trials = 1
    
    data_results = pd.DataFrame(columns=results_columns)

    # perform trials using each model
    for model_name in models.keys():
        
        model = models[model_name][0]
        model_params_grid = models[model_name][1]
        model_results = pd.DataFrame(columns=results_columns)
        
        # perform 5 trials on each dataset
        for trial_count in range(num_trials):
            # pick 5000 samples with replacement to be in the training set
            X_train, X_test, y_train, y_test = train_test_split(data_X, data_y, train_size=5000, random_state=trial_count)
            
            # grid search with 5 k-folds
            search = GridSearchCV(model, model_params_grid, cv=5, verbose=3, n_jobs=-1, refit=False, scoring=scoring)
            
            # find the best parameters for the model
            search.fit(X_train, y_train)
            
            model_result = {
                'dataset': dataset_name,
                'model': model_name,
                'trial': trial_count + 1
            }
            
            for score_name in scoring.keys():
                # train optimal model
                best_params = search.cv_results_['params'][np.argmin(search.cv_results_['rank_test_' + score_name])]
                best_model = clone(model).set_params(**best_params)
                best_model.fit(X_train, y_train)
                
                # compute metrics
                train_score = scoring[score_name](best_model, X_train, y_train)
                test_score = scoring[score_name](best_model, X_test, y_test)

                # append scores
                model_result['train_' + score_name] = train_score
                model_result['test_' + score_name] = test_score
            
            # append model_result to the model_results dataframe
            model_results = model_results.append(model_result, ignore_index=True)
        
        # append model_results to data_results
        data_results = data_results.append(model_results, ignore_index=True)
        
        avg_result = {
            'dataset': dataset_name,
            'model': model_name,
            'trial': 'avg',
            
            'train_accuracy': model_results.train_accuracy.mean(),
            'train_precision': model_results.train_precision.mean(),
            'train_recall': model_results.train_recall.mean(),
            'train_specificity': model_results.train_specificity.mean(),
            'train_f1': model_results.train_f1.mean(),
            'train_roc_auc': model_results.train_roc_auc.mean(),
            'train_log_loss': model_results.train_log_loss.mean(),
            
            'test_accuracy': model_results.test_accuracy.mean(),
            'test_precision': model_results.test_precision.mean(),
            'test_recall': model_results.test_recall.mean(),
            'test_specificity': model_results.test_specificity.mean(),
            'test_f1': model_results.test_f1.mean(),
            'test_roc_auc': model_results.test_roc_auc.mean(),
            'test_log_loss': model_results.test_log_loss.mean()
        }
        
        # append avg_result to the data_results dataframe
        data_results = data_results.append(avg_result, ignore_index=True)
    
    return data_results

### Chess Results

In [ ]:
chess_results_no_svm = perform_trials('chess', models_without_svm, chess_X, chess_y)
chess_results_no_svm.to_csv('results/chess_no_svm.csv')
chess_results_no_svm

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.

Fitting 5 folds for each of 490 candidates, totalling 2450 fits

[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 208 tasks      | elapsed:    4.1s
[Parallel(n_jobs=-1)]: Done 528 tasks      | elapsed:   13.0s
[Parallel(n_jobs=-1)]: Done 976 tasks      | elapsed:   22.3s
[Parallel(n_jobs=-1)]: Done 1552 tasks      | elapsed:   46.1s
[Parallel(n_jobs=-1)]: Done 2256 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done 2450 out of 2450 | elapsed:  1.2min finished

Fitting 5 folds for each of 490 candidates, totalling 2450 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    0.3s
[Parallel(n_jobs=-1)]: Done 208 tasks      | elapsed:    3.3s
[Parallel(n_jobs=-1)]: Done 528 tasks      | elapsed:    8.6s
[Parallel(n_jobs=-1)]: Done 976 tasks      | elapsed:   17.4s
[Parallel(n_jobs=-1)]: Done 1552 tasks      | elapsed:   32.1s
[Parallel(n_jobs=-1)]: Done 2256 tasks      | elapsed:   54.1s
[Parallel(n_jobs=-1)]: Done 2450 out of 2450 | elapsed:  1.0min finished

Fitting 5 folds for each of 490 candidates, totalling 2450 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 208 tasks      | elapsed:    3.7s
[Parallel(n_jobs=-1)]: Done 528 tasks      | elapsed:    9.0s
[Parallel(n_jobs=-1)]: Done 976 tasks      | elapsed:   17.8s
[Parallel(n_jobs=-1)]: Done 1552 tasks      | elapsed:   33.3s
[Parallel(n_jobs=-1)]: Done 2256 tasks      | elapsed:   54.9s
[Parallel(n_jobs=-1)]: Done 2450 out of 2450 | elapsed:  1.0min finished

Fitting 5 folds for each of 490 candidates, totalling 2450 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    0.5s
[Parallel(n_jobs=-1)]: Done 112 tasks      | elapsed:    2.5s
[Parallel(n_jobs=-1)]: Done 272 tasks      | elapsed:    5.4s
[Parallel(n_jobs=-1)]: Done 496 tasks      | elapsed:    9.7s
[Parallel(n_jobs=-1)]: Done 784 tasks      | elapsed:   17.6s
[Parallel(n_jobs=-1)]: Done 1136 tasks      | elapsed:   27.9s
[Parallel(n_jobs=-1)]: Done 1552 tasks      | elapsed:   41.2s
[Parallel(n_jobs=-1)]: Done 2032 tasks      | elapsed:   55.6s
[Parallel(n_jobs=-1)]: Done 2450 out of 2450 | elapsed:  1.1min finished

Fitting 5 folds for each of 490 candidates, totalling 2450 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    0.3s
[Parallel(n_jobs=-1)]: Done 208 tasks      | elapsed:    4.2s
[Parallel(n_jobs=-1)]: Done 528 tasks      | elapsed:   11.1s
[Parallel(n_jobs=-1)]: Done 976 tasks      | elapsed:   20.6s
[Parallel(n_jobs=-1)]: Done 1552 tasks      | elapsed:   37.9s
[Parallel(n_jobs=-1)]: Done 2256 tasks      | elapsed:  1.0min
[Parallel(n_jobs=-1)]: Done 2450 out of 2450 | elapsed:  1.2min finished

Fitting 5 folds for each of 29 candidates, totalling 145 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    1.9s

In [ ]:
chess_results_svm = perform_trials('chess', models_only_svm, chess_X, chess_y)
chess_results_svm.to_csv('results/chess_svm.csv')
chess_results_svm

In [ ]:
chess_results_no_svm = pd.read_csv('results/chess_no_svm.csv')
chess_results_svm = pd.read_csv('results/chess_svm.csv')

In [ ]:
chess_results = chess_results_no_svm.append(chess_results_svm, ignore_index=True)
chess_results.to_csv('results/chess.csv')

### Shrooms Results

In [59]:
shrooms_results_no_svm = perform_trials('shrooms', models_without_svm, shrooms_X, shrooms_y)
shrooms_results_no_svm.to_csv('results/shrooms_no_svm.csv')
shrooms_results_no_svm

Fitting 5 folds for each of 490 candidates, totalling 2450 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-1)]: Done 368 tasks      | elapsed:    2.2s
[Parallel(n_jobs=-1)]: Done 1008 tasks      | elapsed:    6.4s
[Parallel(n_jobs=-1)]: Done 1904 tasks      | elapsed:   12.7s
[Parallel(n_jobs=-1)]: Done 2450 out of 2450 | elapsed:   16.6s finished

Fitting 5 folds for each of 490 candidates, totalling 2450 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-1)]: Done 368 tasks      | elapsed:    2.3s
[Parallel(n_jobs=-1)]: Done 1008 tasks      | elapsed:    6.7s
[Parallel(n_jobs=-1)]: Done 1904 tasks      | elapsed:   12.9s
[Parallel(n_jobs=-1)]: Done 2450 out of 2450 | elapsed:   16.5s finished

,dataset,model,trial,train_accuracy,train_precision,train_recall,train_specificity,train_f1,train_roc_auc,train_log_loss,test_accuracy,test_precision,test_recall,test_specificity,test_f1,test_roc_auc,test_log_loss
0,shrooms,tree,1,1.0000,1.0,1.000000,1.0,1.000000,1.000000,1.554272,1.000000,1.0,1.000000,1.0,1.000000,1.000000,1.625254
1,shrooms,tree,2,0.9994,1.0,0.998750,1.0,0.999375,0.999375,1.574997,0.998399,1.0,0.996702,1.0,0.998348,0.998351,1.592083
2,shrooms,tree,avg,0.9997,1.0,0.999375,1.0,0.999687,0.999688,1.564635,0.999200,1.0,0.998351,1.0,0.999174,0.999175,1.608669

In [ ]:
shrooms_results_svm = perform_trials('shrooms', models_only_svm, shrooms_X, shrooms_y)
shrooms_results_svm.to_csv('results/shrooms_svm.csv')
shrooms_results_svm

In [ ]:
shrooms_results_no_svm = pd.read_csv('results/shrooms_no_svm.csv')
shrooms_results_svm = pd.read_csv('results/shrooms_svm.csv')

In [ ]:
shrooms_results = shrooms_results_no_svm.append(shrooms_results_svm, ignore_index=True)
shrooms_results.to_csv('results/shrooms.csv')

### Results of Cardio Dataset

In [60]:
# running algorithms except SVM on cardio dataset
cardio_results_no_svm = perform_trials('cardio', models_without_svm, cardio_X, cardio_y)
cardio_results_no_svm

Fitting 5 folds for each of 490 candidates, totalling 2450 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-1)]: Done 624 tasks      | elapsed:    2.4s
[Parallel(n_jobs=-1)]: Done 1904 tasks      | elapsed:    8.2s
[Parallel(n_jobs=-1)]: Done 2450 out of 2450 | elapsed:   11.0s finished

Fitting 5 folds for each of 490 candidates, totalling 2450 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    0.0s
[Parallel(n_jobs=-1)]: Done 368 tasks      | elapsed:    1.6s
[Parallel(n_jobs=-1)]: Done 1008 tasks      | elapsed:    4.6s
[Parallel(n_jobs=-1)]: Done 1904 tasks      | elapsed:    9.6s
[Parallel(n_jobs=-1)]: Done 2450 out of 2450 | elapsed:   12.6s finished

,dataset,model,trial,train_accuracy,train_precision,train_recall,train_specificity,train_f1,train_roc_auc,train_log_loss,test_accuracy,test_precision,test_recall,test_specificity,test_f1,test_roc_auc,test_log_loss
0,cardio,tree,1,0.7272,0.769610,0.657407,0.814388,0.705400,0.726756,4.068696,0.718092,0.760048,0.651762,0.803292,0.698032,0.718082,12.196562
1,cardio,tree,2,0.7308,0.825455,0.771586,0.884584,0.736182,0.730678,3.405543,0.716569,0.823521,0.757578,0.888329,0.717287,0.716578,12.550459
2,cardio,tree,avg,0.7290,0.797532,0.714496,0.849486,0.720791,0.728717,3.737119,0.717331,0.791784,0.704670,0.845811,0.707660,0.717330,12.373511

In [22]:
# running SVM algorithm on cardio dataset, generally take longer time to run than other algorithms combined
cardio_results_svm = perform_trials('cardio', models_only_svm, cardio_X, cardio_y)
cardio_results_svm

Fitting 5 folds for each of 24 candidates, totalling 120 fits
Fitting 5 folds for each of 24 candidates, totalling 120 fits
Fitting 5 folds for each of 24 candidates, totalling 120 fits
Fitting 5 folds for each of 24 candidates, totalling 120 fits
Fitting 5 folds for each of 24 candidates, totalling 120 fits

,dataset,model,trial,train_accuracy,train_precision,train_recall,train_specificity,train_f1,train_auc,train_logloss,test_accuracy,test_precision,test_recall,test_specificity,test_f1,test_auc,test_logloss
0,cardio,svm,1,0.74720,0.778793,0.685990,0.807631,0.729452,0.746811,8.731480,0.722677,0.752822,0.662933,0.782403,0.705024,0.722668,9.578487
1,cardio,svm,2,0.73520,0.774933,0.677002,0.795677,0.722664,0.736339,9.145948,0.728338,0.757845,0.669421,0.787006,0.710894,0.728214,9.382942
2,cardio,svm,3,0.74400,0.792575,0.672176,0.818219,0.727428,0.745198,8.841998,0.727431,0.752808,0.675689,0.778975,0.712167,0.727332,9.414296
3,cardio,svm,4,0.74440,0.779928,0.687153,0.802663,0.730607,0.744908,8.828189,0.726185,0.749125,0.679052,0.773192,0.712370,0.726122,9.457339
4,cardio,svm,5,0.73800,0.768887,0.684441,0.792119,0.724211,0.738280,9.049242,0.728062,0.748655,0.685794,0.770240,0.715847,0.728017,9.392514
5,cardio,svm,avg,0.74176,0.779023,0.681352,0.803262,0.726872,0.742307,8.919372,0.726538,0.752251,0.674578,0.778363,0.711260,0.726471,9.445116

In [25]:
# combine results of svm and non-svm algorithms and save as a csv file
cardio_final_results = cardio_results_no_svm.append(cardio_results_svm, ignore_index=True)
cardio_final_results.to_csv('results/cardio_results.csv', index = False)

In [26]:
# display performance
pd.read_csv('results/cardio_results.csv')

,dataset,model,trial,train_accuracy,train_precision,train_recall,train_specificity,train_f1,train_auc,train_logloss,test_accuracy,test_precision,test_recall,test_specificity,test_f1,test_auc,test_logloss
0,cardio,tree,1,0.72720,0.760951,0.657407,0.796105,0.705400,0.726756,9.422260,0.718092,0.751375,0.651762,0.784402,0.698032,0.718082,9.736833
1,cardio,tree,2,0.73080,0.735317,0.737049,0.724307,0.736182,0.730678,9.297947,0.716569,0.713967,0.720638,0.712518,0.717287,0.716578,9.789467
2,cardio,tree,3,0.72760,0.773550,0.656041,0.801545,0.709966,0.728793,9.408441,0.723985,0.753861,0.663574,0.784166,0.705842,0.723870,9.533320
3,cardio,tree,4,0.73720,0.768923,0.684774,0.790557,0.724413,0.737665,9.076873,0.724569,0.741616,0.688172,0.760870,0.713895,0.724521,9.513137
4,cardio,tree,5,0.73500,0.787234,0.647831,0.823080,0.710762,0.735456,9.152846,0.726877,0.773141,0.641379,0.812196,0.701123,0.726788,9.433412
5,cardio,tree,avg,0.73156,0.765195,0.676620,0.787119,0.717344,0.731870,9.271673,0.722018,0.746792,0.673105,0.770831,0.707236,0.721968,9.601234
6,cardio,log_reg,1,0.71200,0.745763,0.637681,0.785374,0.687500,0.711527,9.947254,0.704323,0.737496,0.634344,0.774281,0.682042,0.704312,10.212409
7,cardio,log_reg,2,0.64640,0.622257,0.779042,0.508564,0.691879,0.643803,12.213104,0.644538,0.611887,0.786316,0.503362,0.688221,0.644839,12.277406
8,cardio,log_reg,3,0.68040,0.675999,0.712712,0.647011,0.693870,0.679861,11.038732,0.686446,0.672761,0.723719,0.649315,0.697310,0.686517,10.829907
9,cardio,log_reg,4,0.65080,0.650504,0.664948,0.636400,0.657647,0.650674,12.061085,0.660569,0.652315,0.685738,0.635467,0.668609,0.660602,11.723669
10,cardio,log_reg,5,0.69780,0.717071,0.658575,0.737435,0.686580,0.698005,10.437723,0.702246,0.713969,0.673813,0.730620,0.693310,0.702216,10.284161
11,cardio,log_reg,avg,0.67748,0.682319,0.690592,0.662957,0.683495,0.676774,11.139579,0.679625,0.677686,0.700786,0.658609,0.685898,0.679697,11.065510
12,cardio,perceptron,1,0.67060,0.793684,0.455314,0.883148,0.578665,0.669231,11.377120,0.666985,0.790375,0.454378,0.879526,0.577028,0.666952,11.501992
13,cardio,perceptron,2,0.66180,0.641372,0.762951,0.556688,0.696899,0.659820,11.681188,0.663754,0.633959,0.771577,0.556388,0.696031,0.663982,11.613708
14,cardio,perceptron,3,0.69340,0.755319,0.586777,0.803579,0.660465,0.695178,10.589666,0.697246,0.745791,0.596738,0.797371,0.662990,0.697055,10.456829
15,cardio,perceptron,4,0.46200,0.481530,0.868358,0.048426,0.619519,0.458392,18.582239,0.458985,0.477269,0.876236,0.042836,0.617952,0.459536,18.686393
16,cardio,perceptron,5,0.65920,0.636333,0.751293,0.566144,0.689051,0.658719,11.770988,0.656231,0.629263,0.758794,0.553882,0.687984,0.656338,11.873547
17,cardio,perceptron,avg,0.62940,0.661648,0.684939,0.571597,0.648920,0.628268,12.800240,0.628640,0.655331,0.691545,0.566001,0.648397,0.628773,12.826494
18,cardio,knn,1,0.73200,0.771605,0.654187,0.808824,0.708061,0.731505,9.256469,0.719692,0.758315,0.644807,0.794555,0.696970,0.719681,9.681567
19,cardio,knn,2,0.71840,0.768868,0.639717,0.800163,0.698372,0.719940,9.726198,0.721292,0.763579,0.639357,0.802880,0.695969,0.721119,9.626302
20,cardio,knn,3,0.72720,0.773848,0.654467,0.802359,0.709168,0.728413,9.422256,0.719231,0.751721,0.653092,0.785118,0.698944,0.719105,9.697512
21,cardio,knn,4,0.72880,0.763087,0.670500,0.788136,0.713803,0.729318,9.367000,0.715015,0.737789,0.665958,0.763943,0.700036,0.714951,9.843114
22,cardio,knn,5,0.72820,0.753292,0.682849,0.774025,0.716343,0.728437,9.387729,0.720754,0.736901,0.685764,0.755671,0.710413,0.720717,9.644918
23,cardio,knn,avg,0.72692,0.766140,0.660344,0.794701,0.709150,0.727523,9.431930,0.719197,0.749661,0.657796,0.780433,0.700466,0.719114,9.698683
24,cardio,forest,1,0.81500,0.823042,0.799517,0.830286,0.811109,0.814902,6.389742,0.728723,0.737109,0.710909,0.746531,0.723772,0.728720,9.369674
25,cardio,forest,2,0.81860,0.835035,0.802590,0.835237,0.818491,0.818913,6.265399,0.727477,0.734280,0.711141,0.743744,0.722525,0.727442,9.412716
26,cardio,forest,3,0.82020,0.846121,0.789847,0.851566,0.817016,0.820706,6.210130,0.728785,0.735730,0.712436,0.745071,0.723895,0.728753,9.367550
27,cardio,forest,4,0.82560,0.843750,0.802934,0.848668,0.822836,0.825801,6.023623,0.726969,0.732518,0.713898,0.740006,0.723088,0.726952,9.430253
28,cardio,forest,5,0.81320,0.819765,0.805412,0.821070,0.812525,0.813241,6.451915,0.728600,0.731575,0.721278,0.735907,0.726390,0.728592,9.373930
29,cardio,forest,avg,0.81852,0.833543,0.800060,0.837365,0.816395,0.818713,6.268162,0.728111,0.734242,0.713932,0.742252,0.723934,0.728092,9.390825
30,cardio,svm,1,0.74720,0.778793,0.685990,0.807631,0.729452,0.746811,8.731480,0.722677,0.752822,0.662933,0.782403,0.705024,0.722668,9.578487
31,cardio,svm,2,0.73520,0.774933,0.677002,0.795677,0.722664,0.736339,9.145948,0.728338,0.757845,0.669421,0.787006,0.710894,0.728214,9.382942
32,cardio,svm,3,0.74400,0.792575,0.672176,0.818219,0.727428,0.745198,8.841998,0.727431,0.752808,0.675689,0.778975,0.712167,0.727332,9.414296
33,cardio,svm,4,0.74440,0.779928,0.687153,0.802663,0.730607,0.744908,8.828189,0.726185,0.749125,0.679052,0.773192,0.712370,0.726122,9.457339
34,cardio,svm,5,0.73800,0.768887,0.684441,0.792119,0.724211,0.738280,9.049242,0.728062,0.748655,0.685794,0.770240,0.715847,0.728017,9.392514
35,cardio,svm,avg,0.74176,0.779023,0.681352,0.803262,0.726872,0.742307,8.919372,0.726538,0.752251,0.674578,0.778363,0.711260,0.726471,9.445116

### Results of Australian Rain Dataset

In [21]:
# running algorithms except SVM on Australian rain dataset
aus_results_no_svm = perform_trials('aus', models_without_svm, aus_X, aus_y)
aus_results_no_svm

Fitting 5 folds for each of 490 candidates, totalling 2450 fits
Fitting 5 folds for each of 490 candidates, totalling 2450 fits
Fitting 5 folds for each of 490 candidates, totalling 2450 fits
Fitting 5 folds for each of 490 candidates, totalling 2450 fits
Fitting 5 folds for each of 490 candidates, totalling 2450 fits
Fitting 5 folds for each of 52 candidates, totalling 260 fits

C:\Users\panyu\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:921: UserWarning: One or more of the test scores are non-finite: [0.7874 0.7874    nan 0.8418 0.7874 0.7874    nan 0.8418 0.7874 0.7874
    nan 0.842  0.7874 0.8228    nan 0.8418 0.7874 0.8408    nan 0.8418
 0.8338 0.8414    nan 0.8418 0.8404 0.8418    nan 0.8418 0.8418 0.8416
    nan 0.8418 0.8418 0.8418    nan 0.8416 0.8418 0.8418    nan 0.8422
 0.8418 0.8418    nan 0.8418 0.8418 0.8418    nan 0.8418 0.842  0.8418
    nan 0.8418]
  category=UserWarning
C:\Users\panyu\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:1323: UserWarning: Setting penalty='none' will ignore the C and l1_ratio parameters
  "Setting penalty='none' will ignore the C and l1_ratio "
C:\Users\panyu\Anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

Fitting 5 folds for each of 52 candidates, totalling 260 fits

C:\Users\panyu\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:921: UserWarning: One or more of the test scores are non-finite: [0.78   0.78      nan 0.8418 0.78   0.78      nan 0.8412 0.78   0.78
    nan 0.8416 0.78   0.8304    nan 0.8412 0.78   0.8412    nan 0.8416
 0.8382 0.8414    nan 0.8416 0.8408 0.8414    nan 0.8414 0.8408 0.8414
    nan 0.8416 0.8412 0.8414    nan 0.8416 0.8416 0.8416    nan 0.8418
 0.8414 0.8416    nan 0.8416 0.8414 0.841     nan 0.8416 0.8416 0.8412
    nan 0.8412]
  category=UserWarning
C:\Users\panyu\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:1323: UserWarning: Setting penalty='none' will ignore the C and l1_ratio parameters
  "Setting penalty='none' will ignore the C and l1_ratio "
C:\Users\panyu\Anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

Fitting 5 folds for each of 52 candidates, totalling 260 fits

C:\Users\panyu\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:921: UserWarning: One or more of the test scores are non-finite: [0.7848 0.7848    nan 0.8366 0.7848 0.7848    nan 0.8366 0.7848 0.7848
    nan 0.8366 0.7848 0.8252    nan 0.8366 0.7848 0.8354    nan 0.8368
 0.8336 0.8366    nan 0.8368 0.8348 0.8368    nan 0.8364 0.8366 0.8368
    nan 0.8366 0.8366 0.837     nan 0.8368 0.8366 0.837     nan 0.8368
 0.8368 0.8368    nan 0.837  0.8368 0.8366    nan 0.8366 0.8368 0.8368
    nan 0.8368]
  category=UserWarning
C:\Users\panyu\Anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

Fitting 5 folds for each of 52 candidates, totalling 260 fits

C:\Users\panyu\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:921: UserWarning: One or more of the test scores are non-finite: [0.7742 0.7742    nan 0.8368 0.7742 0.7742    nan 0.8368 0.7742 0.7742
    nan 0.8366 0.7742 0.825     nan 0.8366 0.7742 0.8356    nan 0.8368
 0.8292 0.8368    nan 0.8366 0.8364 0.8368    nan 0.8368 0.8366 0.8368
    nan 0.8366 0.8368 0.8368    nan 0.8368 0.8368 0.8368    nan 0.8368
 0.8366 0.8368    nan 0.8366 0.8368 0.8366    nan 0.8368 0.8366 0.8368
    nan 0.8368]
  category=UserWarning
C:\Users\panyu\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:1323: UserWarning: Setting penalty='none' will ignore the C and l1_ratio parameters
  "Setting penalty='none' will ignore the C and l1_ratio "
C:\Users\panyu\Anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

Fitting 5 folds for each of 52 candidates, totalling 260 fits

C:\Users\panyu\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:921: UserWarning: One or more of the test scores are non-finite: [0.7768 0.7768    nan 0.8386 0.7768 0.7768    nan 0.8382 0.7768 0.777
    nan 0.8382 0.7768 0.8306    nan 0.8382 0.7768 0.839     nan 0.8382
 0.8344 0.838     nan 0.8384 0.8382 0.8386    nan 0.8386 0.8382 0.8382
    nan 0.8382 0.8382 0.8382    nan 0.8386 0.8382 0.8384    nan 0.8382
 0.838  0.8382    nan 0.8384 0.8384 0.8384    nan 0.8384 0.8382 0.8382
    nan 0.8382]
  category=UserWarning
C:\Users\panyu\Anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

Fitting 5 folds for each of 20 candidates, totalling 100 fits
Fitting 5 folds for each of 20 candidates, totalling 100 fits
Fitting 5 folds for each of 20 candidates, totalling 100 fits

C:\Users\panyu\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\panyu\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Fitting 5 folds for each of 20 candidates, totalling 100 fits

C:\Users\panyu\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Fitting 5 folds for each of 20 candidates, totalling 100 fits
Fitting 5 folds for each of 81 candidates, totalling 405 fits
Fitting 5 folds for each of 81 candidates, totalling 405 fits
Fitting 5 folds for each of 81 candidates, totalling 405 fits
Fitting 5 folds for each of 81 candidates, totalling 405 fits
Fitting 5 folds for each of 81 candidates, totalling 405 fits
Fitting 5 folds for each of 8 candidates, totalling 40 fits

C:\Users\panyu\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:921: UserWarning: One or more of the test scores are non-finite: [   nan 0.8494 0.8502 0.8496 0.8498 0.8486 0.8484 0.8486]
  category=UserWarning

Fitting 5 folds for each of 8 candidates, totalling 40 fits

C:\Users\panyu\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:921: UserWarning: One or more of the test scores are non-finite: [   nan 0.8522 0.852  0.8508 0.8506 0.8506 0.8502 0.85  ]
  category=UserWarning

Fitting 5 folds for each of 8 candidates, totalling 40 fits

C:\Users\panyu\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:921: UserWarning: One or more of the test scores are non-finite: [   nan 0.8408 0.8408 0.842  0.8422 0.8414 0.8418 0.8402]
  category=UserWarning

Fitting 5 folds for each of 8 candidates, totalling 40 fits

C:\Users\panyu\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:921: UserWarning: One or more of the test scores are non-finite: [   nan 0.8448 0.8462 0.8458 0.8458 0.8468 0.8462 0.8444]
  category=UserWarning

Fitting 5 folds for each of 8 candidates, totalling 40 fits

C:\Users\panyu\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:921: UserWarning: One or more of the test scores are non-finite: [   nan 0.8512 0.848  0.8496 0.85   0.848  0.8484 0.8462]
  category=UserWarning

,dataset,model,trial,train_accuracy,train_precision,train_recall,train_specificity,train_f1,train_auc,train_logloss,test_accuracy,test_precision,test_recall,test_specificity,test_f1,test_auc,test_logloss
0,aus,tree,1,0.84920,0.792060,0.394167,0.972060,0.526382,0.683114,5.208465e+00,0.832130,0.738826,0.363179,0.963920,0.486978,0.663550,5.798042
1,aus,tree,2,0.85380,0.760962,0.489091,0.956667,0.595462,0.722879,5.049596e+00,0.829467,0.670925,0.435163,0.940109,0.527917,0.687636,5.890023
2,aus,tree,3,0.84280,0.776718,0.378253,0.970183,0.508750,0.674218,5.429514e+00,0.829012,0.724368,0.355540,0.962000,0.476970,0.658770,5.905746
3,aus,tree,4,0.85380,0.745074,0.535872,0.946525,0.623390,0.741199,5.049602e+00,0.828855,0.656716,0.457168,0.933025,0.539068,0.695096,5.911174
4,aus,tree,5,0.86220,0.787349,0.524194,0.959320,0.629371,0.741757,4.759469e+00,0.830016,0.663578,0.453984,0.935460,0.539127,0.694722,5.871091
5,aus,tree,avg,0.85236,0.772432,0.464315,0.960951,0.576671,0.712633,5.099329e+00,0.829896,0.690883,0.413007,0.946903,0.514012,0.679955,5.875215
6,aus,log_reg,1,0.84360,0.727715,0.422389,0.957328,0.534524,0.689859,5.401891e+00,0.838167,0.742602,0.401473,0.960892,0.521180,0.681183,5.589523
7,aus,log_reg,2,0.84300,0.727931,0.457273,0.951795,0.561697,0.704534,5.422618e+00,0.839228,0.714293,0.443773,0.950193,0.547437,0.696983,5.552891
8,aus,log_reg,3,0.83620,0.712397,0.400558,0.955657,0.512790,0.678108,5.657479e+00,0.839784,0.730639,0.426674,0.955818,0.538739,0.691246,5.533707
9,aus,log_reg,4,0.83840,0.728959,0.452613,0.950917,0.558470,0.701765,5.581497e+00,0.839193,0.722869,0.430434,0.953752,0.539576,0.692093,5.554118
10,aus,log_reg,5,0.84080,0.744648,0.436380,0.957003,0.550282,0.696692,5.498600e+00,0.837747,0.727600,0.414193,0.956517,0.527884,0.685355,5.604033
11,aus,log_reg,avg,0.84040,0.728330,0.433843,0.954540,0.543553,0.694191,5.512417e+00,0.838824,0.727600,0.423310,0.955434,0.534963,0.689372,5.566854
12,aus,perceptron,1,0.83660,0.738372,0.358420,0.965710,0.482584,0.662065,5.643658e+00,0.834245,0.767168,0.350944,0.970067,0.481585,0.660506,5.725007
13,aus,perceptron,2,0.83440,0.634387,0.583636,0.905128,0.607955,0.744382,5.719681e+00,0.826819,0.613504,0.566559,0.899848,0.589098,0.733204,5.981522
14,aus,perceptron,3,0.78480,0.000000,0.000000,1.000000,0.000000,0.500000,7.432745e+00,0.780713,0.000000,0.000000,1.000000,0.000000,0.500000,7.573892
15,aus,perceptron,4,0.77420,0.000000,0.000000,1.000000,0.000000,0.500000,7.798856e+00,0.781197,1.000000,0.000488,1.000000,0.000975,0.500244,7.557171
16,aus,perceptron,5,0.80020,0.903448,0.117384,0.996395,0.207772,0.556889,6.900850e+00,0.801096,0.867674,0.108286,0.995369,0.192543,0.551828,6.869890
17,aus,perceptron,avg,0.80604,0.455242,0.211888,0.973447,0.259662,0.592667,6.699158e+00,0.804814,0.649669,0.205256,0.973057,0.252840,0.589156,6.741496
18,aus,knn,1,0.85660,0.818015,0.418627,0.974854,0.553827,0.696740,4.952876e+00,0.835462,0.761172,0.364282,0.967878,0.492746,0.666080,5.682959
19,aus,knn,2,0.86400,0.835463,0.475455,0.973590,0.606025,0.724522,4.697290e+00,0.837456,0.730827,0.408714,0.957760,0.524245,0.683237,5.614114
20,aus,knn,3,0.83920,0.770916,0.359665,0.970693,0.490494,0.665179,5.553854e+00,0.836437,0.763305,0.368332,0.967919,0.496890,0.668125,5.649271
21,aus,knn,4,0.84760,0.814751,0.420726,0.972100,0.554907,0.696413,5.263727e+00,0.837584,0.752049,0.385001,0.964425,0.509282,0.674713,5.609684
22,aus,knn,5,0.85400,0.803459,0.457885,0.967817,0.583333,0.712851,5.042681e+00,0.837213,0.731799,0.405188,0.958359,0.521583,0.681774,5.622475
23,aus,knn,avg,0.85228,0.808521,0.426472,0.971811,0.557717,0.699141,5.102086e+00,0.836830,0.747830,0.386304,0.963268,0.508949,0.674786,5.635701
24,aus,forest,1,0.99700,1.000000,0.985889,1.000000,0.992894,0.992944,1.036163e-01,0.842881,0.768038,0.406601,0.965489,0.531712,0.686045,5.426736
25,aus,forest,2,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,0.844148,0.738563,0.446925,0.955608,0.556871,0.701267,5.382972
26,aus,forest,3,0.96800,0.998911,0.852230,0.999745,0.919759,0.925988,1.105241e+00,0.843963,0.755229,0.426739,0.961152,0.545338,0.693946,5.389362
27,aus,forest,4,0.94320,0.985075,0.759965,0.996642,0.858000,0.878303,1.961805e+00,0.843144,0.750460,0.424678,0.960424,0.542411,0.692551,5.417641
28,aus,forest,5,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,0.844532,0.741476,0.445402,0.956454,0.556510,0.700928,5.369693
29,aus,forest,avg,0.98164,0.996797,0.919617,0.999277,0.954131,0.959447,6.341324e-01,0.843733,0.750753,0.430069,0.959825,0.546568,0.694947,5.397281

In [27]:
# running SVM algorithm on Australian rain dataset, generally take longer time to run than other algorithms combined
aus_results_svm = perform_trials('aus', models_only_svm, aus_X, aus_y)
aus_results_svm

Fitting 5 folds for each of 24 candidates, totalling 120 fits
Fitting 5 folds for each of 24 candidates, totalling 120 fits
Fitting 5 folds for each of 24 candidates, totalling 120 fits
Fitting 5 folds for each of 24 candidates, totalling 120 fits
Fitting 5 folds for each of 24 candidates, totalling 120 fits

,dataset,model,trial,train_accuracy,train_precision,train_recall,train_specificity,train_f1,train_auc,train_logloss,test_accuracy,test_precision,test_recall,test_specificity,test_f1,test_auc,test_logloss
0,aus,svm,1,0.8552,0.746725,0.482596,0.955804,0.586286,0.719200,5.001243,0.843778,0.734472,0.450899,0.954189,0.558766,0.702544,5.395760
1,aus,svm,2,0.8562,0.750988,0.518182,0.951538,0.613233,0.734860,4.966706,0.843671,0.709647,0.484973,0.944321,0.576182,0.714647,5.399454
2,aus,svm,3,0.8512,0.744838,0.469331,0.955912,0.575827,0.712622,5.139398,0.842937,0.721490,0.462160,0.949890,0.563417,0.706025,5.424778
3,aus,svm,4,0.8480,0.729763,0.519043,0.943942,0.606625,0.731493,5.249929,0.840823,0.694537,0.487089,0.939961,0.572603,0.713525,5.497816
4,aus,svm,5,0.8544,0.758667,0.509857,0.953399,0.609861,0.731628,5.028875,0.844297,0.715122,0.480414,0.946335,0.574729,0.713374,5.377814
5,aus,svm,avg,0.8530,0.746196,0.499802,0.952119,0.598366,0.725960,5.077230,0.843101,0.715054,0.473107,0.946939,0.569139,0.710023,5.419124

In [28]:
# combine results of svm and non-svm algorithms and save as a csv file
aus_final_results = aus_results_no_svm.append(aus_results_svm, ignore_index=True)
aus_final_results.to_csv('results/aus_results.csv', index = False)

In [29]:
# display performance
pd.read_csv('results/aus_results.csv')

,dataset,model,trial,train_accuracy,train_precision,train_recall,train_specificity,train_f1,train_auc,train_logloss,test_accuracy,test_precision,test_recall,test_specificity,test_f1,test_auc,test_logloss
0,aus,tree,1,0.84920,0.792060,0.394167,0.972060,0.526382,0.683114,5.208465e+00,0.832130,0.738826,0.363179,0.963920,0.486978,0.663550,5.798042
1,aus,tree,2,0.85380,0.760962,0.489091,0.956667,0.595462,0.722879,5.049596e+00,0.829467,0.670925,0.435163,0.940109,0.527917,0.687636,5.890023
2,aus,tree,3,0.84280,0.776718,0.378253,0.970183,0.508750,0.674218,5.429514e+00,0.829012,0.724368,0.355540,0.962000,0.476970,0.658770,5.905746
3,aus,tree,4,0.85380,0.745074,0.535872,0.946525,0.623390,0.741199,5.049602e+00,0.828855,0.656716,0.457168,0.933025,0.539068,0.695096,5.911174
4,aus,tree,5,0.86220,0.787349,0.524194,0.959320,0.629371,0.741757,4.759469e+00,0.830016,0.663578,0.453984,0.935460,0.539127,0.694722,5.871091
5,aus,tree,avg,0.85236,0.772432,0.464315,0.960951,0.576671,0.712633,5.099329e+00,0.829896,0.690883,0.413007,0.946903,0.514012,0.679955,5.875215
6,aus,log_reg,1,0.84360,0.727715,0.422389,0.957328,0.534524,0.689859,5.401891e+00,0.838167,0.742602,0.401473,0.960892,0.521180,0.681183,5.589523
7,aus,log_reg,2,0.84300,0.727931,0.457273,0.951795,0.561697,0.704534,5.422618e+00,0.839228,0.714293,0.443773,0.950193,0.547437,0.696983,5.552891
8,aus,log_reg,3,0.83620,0.712397,0.400558,0.955657,0.512790,0.678108,5.657479e+00,0.839784,0.730639,0.426674,0.955818,0.538739,0.691246,5.533707
9,aus,log_reg,4,0.83840,0.728959,0.452613,0.950917,0.558470,0.701765,5.581497e+00,0.839193,0.722869,0.430434,0.953752,0.539576,0.692093,5.554118
10,aus,log_reg,5,0.84080,0.744648,0.436380,0.957003,0.550282,0.696692,5.498600e+00,0.837747,0.727600,0.414193,0.956517,0.527884,0.685355,5.604033
11,aus,log_reg,avg,0.84040,0.728330,0.433843,0.954540,0.543553,0.694191,5.512417e+00,0.838824,0.727600,0.423310,0.955434,0.534963,0.689372,5.566854
12,aus,perceptron,1,0.83660,0.738372,0.358420,0.965710,0.482584,0.662065,5.643658e+00,0.834245,0.767168,0.350944,0.970067,0.481585,0.660506,5.725007
13,aus,perceptron,2,0.83440,0.634387,0.583636,0.905128,0.607955,0.744382,5.719681e+00,0.826819,0.613504,0.566559,0.899848,0.589098,0.733204,5.981522
14,aus,perceptron,3,0.78480,0.000000,0.000000,1.000000,0.000000,0.500000,7.432745e+00,0.780713,0.000000,0.000000,1.000000,0.000000,0.500000,7.573892
15,aus,perceptron,4,0.77420,0.000000,0.000000,1.000000,0.000000,0.500000,7.798856e+00,0.781197,1.000000,0.000488,1.000000,0.000975,0.500244,7.557171
16,aus,perceptron,5,0.80020,0.903448,0.117384,0.996395,0.207772,0.556889,6.900850e+00,0.801096,0.867674,0.108286,0.995369,0.192543,0.551828,6.869890
17,aus,perceptron,avg,0.80604,0.455242,0.211888,0.973447,0.259662,0.592667,6.699158e+00,0.804814,0.649669,0.205256,0.973057,0.252840,0.589156,6.741496
18,aus,knn,1,0.85660,0.818015,0.418627,0.974854,0.553827,0.696740,4.952876e+00,0.835462,0.761172,0.364282,0.967878,0.492746,0.666080,5.682959
19,aus,knn,2,0.86400,0.835463,0.475455,0.973590,0.606025,0.724522,4.697290e+00,0.837456,0.730827,0.408714,0.957760,0.524245,0.683237,5.614114
20,aus,knn,3,0.83920,0.770916,0.359665,0.970693,0.490494,0.665179,5.553854e+00,0.836437,0.763305,0.368332,0.967919,0.496890,0.668125,5.649271
21,aus,knn,4,0.84760,0.814751,0.420726,0.972100,0.554907,0.696413,5.263727e+00,0.837584,0.752049,0.385001,0.964425,0.509282,0.674713,5.609684
22,aus,knn,5,0.85400,0.803459,0.457885,0.967817,0.583333,0.712851,5.042681e+00,0.837213,0.731799,0.405188,0.958359,0.521583,0.681774,5.622475
23,aus,knn,avg,0.85228,0.808521,0.426472,0.971811,0.557717,0.699141,5.102086e+00,0.836830,0.747830,0.386304,0.963268,0.508949,0.674786,5.635701
24,aus,forest,1,0.99700,1.000000,0.985889,1.000000,0.992894,0.992944,1.036163e-01,0.842881,0.768038,0.406601,0.965489,0.531712,0.686045,5.426736
25,aus,forest,2,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,0.844148,0.738563,0.446925,0.955608,0.556871,0.701267,5.382972
26,aus,forest,3,0.96800,0.998911,0.852230,0.999745,0.919759,0.925988,1.105241e+00,0.843963,0.755229,0.426739,0.961152,0.545338,0.693946,5.389362
27,aus,forest,4,0.94320,0.985075,0.759965,0.996642,0.858000,0.878303,1.961805e+00,0.843144,0.750460,0.424678,0.960424,0.542411,0.692551,5.417641
28,aus,forest,5,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,0.844532,0.741476,0.445402,0.956454,0.556510,0.700928,5.369693
29,aus,forest,avg,0.98164,0.996797,0.919617,0.999277,0.954131,0.959447,6.341324e-01,0.843733,0.750753,0.430069,0.959825,0.546568,0.694947,5.397281
30,aus,svm,1,0.85520,0.746725,0.482596,0.955804,0.586286,0.719200,5.001243e+00,0.843778,0.734472,0.450899,0.954189,0.558766,0.702544,5.395760
31,aus,svm,2,0.85620,0.750988,0.518182,0.951538,0.613233,0.734860,4.966706e+00,0.843671,0.709647,0.484973,0.944321,0.576182,0.714647,5.399454
32,aus,svm,3,0.85120,0.744838,0.469331,0.955912,0.575827,0.712622,5.139398e+00,0.842937,0.721490,0.462160,0.949890,0.563417,0.706025,5.424778
33,aus,svm,4,0.84800,0.729763,0.519043,0.943942,0.606625,0.731493,5.249929e+00,0.840823,0.694537,0.487089,0.939961,0.572603,0.713525,5.497816
34,aus,svm,5,0.85440,0.758667,0.509857,0.953399,0.609861,0.731628,5.028875e+00,0.844297,0.715122,0.480414,0.946335,0.574729,0.713374,5.377814
35,aus,svm,avg,0.85300,0.746196,0.499802,0.952119,0.598366,0.725960,5.077230e+00,0.843101,0.715054,0.473107,0.946939,0.569139,0.710023,5.419124

### Results of AirBnB Price Dataset

In [22]:
# running algorithms except SVM on airbnb dataset
airbnb_results_no_svm = perform_trials('airbnb', models_without_svm, airbnb_X, airbnb_y)
airbnb_results_no_svm

Fitting 5 folds for each of 490 candidates, totalling 2450 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    3.6s
[Parallel(n_jobs=-1)]: Done 656 tasks      | elapsed:    6.5s
[Parallel(n_jobs=-1)]: Done 1936 tasks      | elapsed:   12.9s
[Parallel(n_jobs=-1)]: Done 2450 out of 2450 | elapsed:   15.1s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 5 folds for each of 490 candidates, totalling 2450 fits

[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 1528 tasks      | elapsed:    6.1s
[Parallel(n_jobs=-1)]: Done 2450 out of 2450 | elapsed:    9.8s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 5 folds for each of 490 candidates, totalling 2450 fits

[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 1528 tasks      | elapsed:    6.9s
[Parallel(n_jobs=-1)]: Done 2450 out of 2450 | elapsed:   10.5s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 5 folds for each of 490 candidates, totalling 2450 fits

[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 1528 tasks      | elapsed:    6.5s
[Parallel(n_jobs=-1)]: Done 2450 out of 2450 | elapsed:   10.1s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 5 folds for each of 490 candidates, totalling 2450 fits

[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    0.5s
[Parallel(n_jobs=-1)]: Done 824 tasks      | elapsed:    4.4s
[Parallel(n_jobs=-1)]: Done 2104 tasks      | elapsed:   12.4s
[Parallel(n_jobs=-1)]: Done 2450 out of 2450 | elapsed:   13.9s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 5 folds for each of 52 candidates, totalling 260 fits

[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    1.3s
[Parallel(n_jobs=-1)]: Done 253 out of 260 | elapsed:    9.0s remaining:    0.2s
[Parallel(n_jobs=-1)]: Done 260 out of 260 | elapsed:    9.1s finished
/Users/melchisedec/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_sag.py:330: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 5 folds for each of 52 candidates, totalling 260 fits

[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    1.1s
[Parallel(n_jobs=-1)]: Done 253 out of 260 | elapsed:    8.8s remaining:    0.2s
[Parallel(n_jobs=-1)]: Done 260 out of 260 | elapsed:    8.9s finished
/Users/melchisedec/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:1505: UserWarning: Setting penalty='none' will ignore the C and l1_ratio parameters
  "Setting penalty='none' will ignore the C and l1_ratio "
/Users/melchisedec/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_sag.py:330: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 5 folds for each of 52 candidates, totalling 260 fits

[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    1.1s
[Parallel(n_jobs=-1)]: Done 253 out of 260 | elapsed:    8.7s remaining:    0.2s
[Parallel(n_jobs=-1)]: Done 260 out of 260 | elapsed:    9.1s finished
/Users/melchisedec/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:1505: UserWarning: Setting penalty='none' will ignore the C and l1_ratio parameters
  "Setting penalty='none' will ignore the C and l1_ratio "
/Users/melchisedec/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_sag.py:330: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

Fitting 5 folds for each of 52 candidates, totalling 260 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    1.2s
[Parallel(n_jobs=-1)]: Done 232 tasks      | elapsed:    8.7s
[Parallel(n_jobs=-1)]: Done 260 out of 260 | elapsed:    9.8s finished
/Users/melchisedec/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:1505: UserWarning: Setting penalty='none' will ignore the C and l1_ratio parameters
  "Setting penalty='none' will ignore the C and l1_ratio "
/Users/melchisedec/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_sag.py:330: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

Fitting 5 folds for each of 52 candidates, totalling 260 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    1.3s
[Parallel(n_jobs=-1)]: Done 253 out of 260 | elapsed:    9.2s remaining:    0.3s
[Parallel(n_jobs=-1)]: Done 260 out of 260 | elapsed:    9.4s finished
/Users/melchisedec/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_sag.py:330: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 5 folds for each of 20 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    0.5s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    0.9s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 5 folds for each of 20 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    0.6s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    0.9s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 5 folds for each of 20 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    0.6s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    0.8s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 5 folds for each of 20 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    0.5s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    0.8s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 5 folds for each of 20 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    0.5s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    0.8s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 5 folds for each of 81 candidates, totalling 405 fits

[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    1.4s
[Parallel(n_jobs=-1)]: Done 232 tasks      | elapsed:    8.4s
[Parallel(n_jobs=-1)]: Done 398 out of 405 | elapsed:   14.7s remaining:    0.3s
[Parallel(n_jobs=-1)]: Done 405 out of 405 | elapsed:   14.9s finished

Fitting 5 folds for each of 81 candidates, totalling 405 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    1.3s
[Parallel(n_jobs=-1)]: Done 232 tasks      | elapsed:    8.3s
[Parallel(n_jobs=-1)]: Done 398 out of 405 | elapsed:   14.5s remaining:    0.3s
[Parallel(n_jobs=-1)]: Done 405 out of 405 | elapsed:   14.8s finished

Fitting 5 folds for each of 81 candidates, totalling 405 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    1.3s
[Parallel(n_jobs=-1)]: Done 232 tasks      | elapsed:    8.5s
[Parallel(n_jobs=-1)]: Done 398 out of 405 | elapsed:   14.7s remaining:    0.3s
[Parallel(n_jobs=-1)]: Done 405 out of 405 | elapsed:   15.0s finished

Fitting 5 folds for each of 81 candidates, totalling 405 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    1.3s
[Parallel(n_jobs=-1)]: Done 232 tasks      | elapsed:    8.8s
[Parallel(n_jobs=-1)]: Done 405 out of 405 | elapsed:   15.5s finished

Fitting 5 folds for each of 81 candidates, totalling 405 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    1.4s
[Parallel(n_jobs=-1)]: Done 232 tasks      | elapsed:    8.7s
[Parallel(n_jobs=-1)]: Done 398 out of 405 | elapsed:   15.0s remaining:    0.3s
[Parallel(n_jobs=-1)]: Done 405 out of 405 | elapsed:   15.3s finished

Fitting 5 folds for each of 8 candidates, totalling 40 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   32.5s
[Parallel(n_jobs=-1)]: Done  40 out of  40 | elapsed:   56.0s finished

Fitting 5 folds for each of 8 candidates, totalling 40 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   31.6s
[Parallel(n_jobs=-1)]: Done  40 out of  40 | elapsed:   55.0s finished

Fitting 5 folds for each of 8 candidates, totalling 40 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   32.4s
[Parallel(n_jobs=-1)]: Done  40 out of  40 | elapsed:   55.6s finished

Fitting 5 folds for each of 8 candidates, totalling 40 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   32.5s
[Parallel(n_jobs=-1)]: Done  40 out of  40 | elapsed:   55.5s finished

Fitting 5 folds for each of 8 candidates, totalling 40 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   32.3s
[Parallel(n_jobs=-1)]: Done  40 out of  40 | elapsed:   55.5s finished

,dataset,model,trial,train_accuracy,train_precision,train_recall,train_specificity,train_f1,train_auc,train_logloss,test_accuracy,test_precision,test_recall,test_specificity,test_f1,test_auc,test_logloss
0,airbnb,tree,1,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
1,airbnb,tree,2,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
2,airbnb,tree,3,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
3,airbnb,tree,4,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
4,airbnb,tree,5,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
5,airbnb,tree,avg,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
6,airbnb,log_reg,1,0.98780,1.000000,0.975373,1.000000,0.987533,0.987687,4.213731e-01,0.988040,1.000000,0.976078,1.000000,0.987894,0.988039,4.130962e-01
7,airbnb,log_reg,2,0.99060,1.000000,0.981033,1.000000,0.990426,0.990517,3.246645e-01,0.987721,0.999580,0.975849,0.999590,0.987572,0.987719,4.241123e-01
8,airbnb,log_reg,3,0.98760,1.000000,0.974684,1.000000,0.987179,0.987342,4.282808e-01,0.989065,1.000000,0.978156,1.000000,0.988957,0.989078,3.776880e-01
9,airbnb,log_reg,4,0.98840,1.000000,0.976585,1.000000,0.988154,0.988292,4.006498e-01,0.989725,1.000000,0.979450,1.000000,0.989618,0.989725,3.548693e-01
10,airbnb,log_reg,5,0.98560,0.991857,0.979100,0.992038,0.985437,0.985569,4.973616e-01,0.985853,0.994203,0.977388,0.994308,0.985724,0.985848,4.886361e-01
11,airbnb,log_reg,avg,0.98800,0.998371,0.977355,0.998408,0.987746,0.987881,4.144660e-01,0.988081,0.998757,0.977384,0.998780,0.987953,0.988082,4.116804e-01
12,airbnb,perceptron,1,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
13,airbnb,perceptron,2,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
14,airbnb,perceptron,3,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
15,airbnb,perceptron,4,0.84940,0.766873,1.000000,0.701546,0.868057,0.850773,5.201660e+00,0.851897,0.771470,1.000000,0.703813,0.870994,0.851907,5.115430e+00
16,airbnb,perceptron,5,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
17,airbnb,perceptron,avg,0.96988,0.953375,1.000000,0.940309,0.973611,0.970155,1.040332e+00,0.970379,0.954294,1.000000,0.940763,0.974199,0.970381,1.023086e+00
18,airbnb,knn,1,0.99460,0.998779,0.990311,0.998811,0.994527,0.994561,1.865099e-01,0.990318,0.997365,0.983232,0.997403,0.990248,0.990317,3.344122e-01
19,airbnb,knn,2,0.99460,0.998373,0.990718,0.998414,0.994531,0.994566,1.865100e-01,0.990819,0.995857,0.985737,0.995900,0.990771,0.990818,3.171021e-01
20,airbnb,knn,3,0.99480,0.997945,0.991425,0.998040,0.994674,0.994733,1.796024e-01,0.991092,0.996549,0.985619,0.996579,0.991054,0.991099,3.076597e-01
21,airbnb,knn,4,0.99280,0.998774,0.986677,0.998811,0.992689,0.992744,2.486797e-01,0.990978,0.998566,0.983368,0.998588,0.990909,0.990978,3.115931e-01
22,airbnb,knn,5,0.99320,0.997567,0.988746,0.997611,0.993137,0.993179,2.348646e-01,0.990090,0.997041,0.983086,0.997086,0.990014,0.990086,3.422809e-01
23,airbnb,knn,avg,0.99400,0.998288,0.989576,0.998337,0.993912,0.993956,2.072333e-01,0.990660,0.997076,0.984209,0.997111,0.990599,0.990660,3.226096e-01
24,airbnb,forest,1,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
25,airbnb,forest,2,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
26,airbnb,forest,3,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
27,airbnb,forest,4,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,0.999954,1.000000,0.999909,1.000000,0.999954,0.999954,1.573700e-03
28,airbnb,forest,5,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
29,airbnb,forest,avg,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,0.999991,1.000000,0.999982,1.000000,0.999991,0.999991,3.147400e-04

In [23]:
airbnb_results_svm = perform_trials('airbnb', models_only_svm, airbnb_X, airbnb_y)
airbnb_results_svm

Fitting 5 folds for each of 24 candidates, totalling 120 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  39 tasks      | elapsed:    4.5s
[Parallel(n_jobs=-1)]: Done 120 out of 120 | elapsed:   27.2s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 5 folds for each of 24 candidates, totalling 120 fits

[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    3.8s
[Parallel(n_jobs=-1)]: Done 120 out of 120 | elapsed:   25.6s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 5 folds for each of 24 candidates, totalling 120 fits

[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    4.1s
[Parallel(n_jobs=-1)]: Done 120 out of 120 | elapsed:   26.3s finished

Fitting 5 folds for each of 24 candidates, totalling 120 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    3.9s
[Parallel(n_jobs=-1)]: Done 120 out of 120 | elapsed:   25.7s finished

Fitting 5 folds for each of 24 candidates, totalling 120 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    4.4s
[Parallel(n_jobs=-1)]: Done 120 out of 120 | elapsed:   26.2s finished

,dataset,model,trial,train_accuracy,train_precision,train_recall,train_specificity,train_f1,train_auc,train_logloss,test_accuracy,test_precision,test_recall,test_specificity,test_f1,test_auc,test_logloss
0,airbnb,svm,1,1.00000,1.000000,1.0,1.000000,1.000000,1.000000,9.992007e-16,0.999795,0.999727,0.999863,0.999727,0.999795,0.999795,0.007082
1,airbnb,svm,2,1.00000,1.000000,1.0,1.000000,1.000000,1.000000,9.992007e-16,0.999704,0.999408,1.000000,0.999408,0.999704,0.999704,0.010229
2,airbnb,svm,3,0.99940,0.998777,1.0,0.998824,0.999388,0.999412,2.072375e-02,0.999271,0.998546,1.000000,0.998540,0.999272,0.999270,0.025180
3,airbnb,svm,4,1.00000,1.000000,1.0,1.000000,1.000000,1.000000,9.992007e-16,0.999863,0.999863,0.999863,0.999863,0.999863,0.999863,0.004721
4,airbnb,svm,5,1.00000,1.000000,1.0,1.000000,1.000000,1.000000,9.992007e-16,0.999954,1.000000,0.999909,1.000000,0.999954,0.999954,0.001574
5,airbnb,svm,avg,0.99988,0.999755,1.0,0.999765,0.999878,0.999882,4.144749e-03,0.999718,0.999509,0.999927,0.999508,0.999718,0.999717,0.009757

In [24]:
airbnb_final_results = airbnb_results_no_svm.append(airbnb_results_svm, ignore_index=True)
airbnb_final_results.to_csv('results/airbnb_results.csv', index = False)

In [25]:
# display performance
pd.read_csv('results/airbnb_results.csv')

,dataset,model,trial,train_accuracy,train_precision,train_recall,train_specificity,train_f1,train_auc,train_logloss,test_accuracy,test_precision,test_recall,test_specificity,test_f1,test_auc,test_logloss
0,airbnb,tree,1,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
1,airbnb,tree,2,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
2,airbnb,tree,3,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
3,airbnb,tree,4,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
4,airbnb,tree,5,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
5,airbnb,tree,avg,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
6,airbnb,log_reg,1,0.98780,1.000000,0.975373,1.000000,0.987533,0.987687,4.213731e-01,0.988040,1.000000,0.976078,1.000000,0.987894,0.988039,4.130962e-01
7,airbnb,log_reg,2,0.99060,1.000000,0.981033,1.000000,0.990426,0.990517,3.246645e-01,0.987721,0.999580,0.975849,0.999590,0.987572,0.987719,4.241123e-01
8,airbnb,log_reg,3,0.98760,1.000000,0.974684,1.000000,0.987179,0.987342,4.282808e-01,0.989065,1.000000,0.978156,1.000000,0.988957,0.989078,3.776880e-01
9,airbnb,log_reg,4,0.98840,1.000000,0.976585,1.000000,0.988154,0.988292,4.006498e-01,0.989725,1.000000,0.979450,1.000000,0.989618,0.989725,3.548693e-01
10,airbnb,log_reg,5,0.98560,0.991857,0.979100,0.992038,0.985437,0.985569,4.973616e-01,0.985853,0.994203,0.977388,0.994308,0.985724,0.985848,4.886361e-01
11,airbnb,log_reg,avg,0.98800,0.998371,0.977355,0.998408,0.987746,0.987881,4.144660e-01,0.988081,0.998757,0.977384,0.998780,0.987953,0.988082,4.116804e-01
12,airbnb,perceptron,1,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
13,airbnb,perceptron,2,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
14,airbnb,perceptron,3,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
15,airbnb,perceptron,4,0.84940,0.766873,1.000000,0.701546,0.868057,0.850773,5.201660e+00,0.851897,0.771470,1.000000,0.703813,0.870994,0.851907,5.115430e+00
16,airbnb,perceptron,5,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
17,airbnb,perceptron,avg,0.96988,0.953375,1.000000,0.940309,0.973611,0.970155,1.040332e+00,0.970379,0.954294,1.000000,0.940763,0.974199,0.970381,1.023086e+00
18,airbnb,knn,1,0.99460,0.998779,0.990311,0.998811,0.994527,0.994561,1.865099e-01,0.990318,0.997365,0.983232,0.997403,0.990248,0.990317,3.344122e-01
19,airbnb,knn,2,0.99460,0.998373,0.990718,0.998414,0.994531,0.994566,1.865100e-01,0.990819,0.995857,0.985737,0.995900,0.990771,0.990818,3.171021e-01
20,airbnb,knn,3,0.99480,0.997945,0.991425,0.998040,0.994674,0.994733,1.796024e-01,0.991092,0.996549,0.985619,0.996579,0.991054,0.991099,3.076597e-01
21,airbnb,knn,4,0.99280,0.998774,0.986677,0.998811,0.992689,0.992744,2.486797e-01,0.990978,0.998566,0.983368,0.998588,0.990909,0.990978,3.115931e-01
22,airbnb,knn,5,0.99320,0.997567,0.988746,0.997611,0.993137,0.993179,2.348646e-01,0.990090,0.997041,0.983086,0.997086,0.990014,0.990086,3.422809e-01
23,airbnb,knn,avg,0.99400,0.998288,0.989576,0.998337,0.993912,0.993956,2.072333e-01,0.990660,0.997076,0.984209,0.997111,0.990599,0.990660,3.226096e-01
24,airbnb,forest,1,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
25,airbnb,forest,2,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
26,airbnb,forest,3,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
27,airbnb,forest,4,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,0.999954,1.000000,0.999909,1.000000,0.999954,0.999954,1.573700e-03
28,airbnb,forest,5,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
29,airbnb,forest,avg,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,0.999991,1.000000,0.999982,1.000000,0.999991,0.999991,3.147400e-04
30,airbnb,svm,1,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,0.999795,0.999727,0.999863,0.999727,0.999795,0.999795,7.081758e-03
31,airbnb,svm,2,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,0.999704,0.999408,1.000000,0.999408,0.999704,0.999704,1.022929e-02
32,airbnb,svm,3,0.99940,0.998777,1.000000,0.998824,0.999388,0.999412,2.072375e-02,0.999271,0.998546,1.000000,0.998540,0.999272,0.999270,2.517978e-02
33,airbnb,svm,4,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,0.999863,0.999863,0.999863,0.999863,0.999863,0.999863,4.721154e-03
34,airbnb,svm,5,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,0.999954,1.000000,0.999909,1.000000,0.999954,0.999954,1.573700e-03
35,airbnb,svm,avg,0.99988,0.999755,1.000000,0.999765,0.999878,0.999882,4.144749e-03,0.999718,0.999509,0.999927,0.999508,0.999718,0.999717,9.757136e-03

### Results of Olympic Gold Medal Dataset

In [26]:
# running algorithms except SVM on Olympic dataset
olympic_results_no_svm = perform_trials('olympic', models_without_svm, olympic_X, olympic_y)
olympic_results_no_svm

Fitting 5 folds for each of 490 candidates, totalling 2450 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    1.0s
[Parallel(n_jobs=-1)]: Done 440 tasks      | elapsed:    6.4s
[Parallel(n_jobs=-1)]: Done 1080 tasks      | elapsed:   18.5s
[Parallel(n_jobs=-1)]: Done 1892 tasks      | elapsed:   45.4s
[Parallel(n_jobs=-1)]: Done 2180 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 2450 out of 2450 | elapsed:  1.4min finished

Fitting 5 folds for each of 490 candidates, totalling 2450 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    1.1s
[Parallel(n_jobs=-1)]: Done 232 tasks      | elapsed:    4.3s
[Parallel(n_jobs=-1)]: Done 552 tasks      | elapsed:   11.4s
[Parallel(n_jobs=-1)]: Done 1000 tasks      | elapsed:   20.5s
[Parallel(n_jobs=-1)]: Done 1576 tasks      | elapsed:   36.2s
[Parallel(n_jobs=-1)]: Done 2280 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 2450 out of 2450 | elapsed:  1.2min finished

Fitting 5 folds for each of 490 candidates, totalling 2450 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    0.7s
[Parallel(n_jobs=-1)]: Done 232 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 552 tasks      | elapsed:    9.2s
[Parallel(n_jobs=-1)]: Done 1000 tasks      | elapsed:   17.9s
[Parallel(n_jobs=-1)]: Done 1576 tasks      | elapsed:   33.9s
[Parallel(n_jobs=-1)]: Done 2280 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 2450 out of 2450 | elapsed:  1.3min finished

Fitting 5 folds for each of 490 candidates, totalling 2450 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    1.0s
[Parallel(n_jobs=-1)]: Done 232 tasks      | elapsed:    3.8s
[Parallel(n_jobs=-1)]: Done 552 tasks      | elapsed:    9.0s
[Parallel(n_jobs=-1)]: Done 1000 tasks      | elapsed:   22.2s
[Parallel(n_jobs=-1)]: Done 1576 tasks      | elapsed:   40.2s
[Parallel(n_jobs=-1)]: Done 2280 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 2450 out of 2450 | elapsed:  1.3min finished

Fitting 5 folds for each of 490 candidates, totalling 2450 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    0.7s
[Parallel(n_jobs=-1)]: Done 232 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 552 tasks      | elapsed:    8.5s
[Parallel(n_jobs=-1)]: Done 1000 tasks      | elapsed:   16.8s
[Parallel(n_jobs=-1)]: Done 1576 tasks      | elapsed:   32.5s
[Parallel(n_jobs=-1)]: Done 2280 tasks      | elapsed:   58.8s
[Parallel(n_jobs=-1)]: Done 2450 out of 2450 | elapsed:  1.1min finished

Fitting 5 folds for each of 52 candidates, totalling 260 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  32 tasks      | elapsed:    7.8s
[Parallel(n_jobs=-1)]: Done 128 tasks      | elapsed:   41.7s
[Parallel(n_jobs=-1)]: Done 260 out of 260 | elapsed:  1.8min finished

Fitting 5 folds for each of 52 candidates, totalling 260 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  32 tasks      | elapsed:    7.9s
[Parallel(n_jobs=-1)]: Done 128 tasks      | elapsed:   39.8s
[Parallel(n_jobs=-1)]: Done 260 out of 260 | elapsed:  1.7min finished

Fitting 5 folds for each of 52 candidates, totalling 260 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  32 tasks      | elapsed:    7.7s
[Parallel(n_jobs=-1)]: Done 128 tasks      | elapsed:   39.9s
[Parallel(n_jobs=-1)]: Done 260 out of 260 | elapsed:  1.7min finished

Fitting 5 folds for each of 52 candidates, totalling 260 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  32 tasks      | elapsed:    7.7s
[Parallel(n_jobs=-1)]: Done 128 tasks      | elapsed:   40.1s
[Parallel(n_jobs=-1)]: Done 260 out of 260 | elapsed:  1.7min finished

Fitting 5 folds for each of 52 candidates, totalling 260 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  32 tasks      | elapsed:    7.6s
[Parallel(n_jobs=-1)]: Done 128 tasks      | elapsed:   40.1s
[Parallel(n_jobs=-1)]: Done 260 out of 260 | elapsed:  1.7min finished

Fitting 5 folds for each of 20 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    1.3s
[Parallel(n_jobs=-1)]: Done  93 out of 100 | elapsed:    2.9s remaining:    0.2s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    3.0s finished
/Users/melchisedec/opt/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/melchisedec/opt/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Fitting 5 folds for each of 20 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    1.4s
[Parallel(n_jobs=-1)]: Done  93 out of 100 | elapsed:    2.9s remaining:    0.2s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    3.0s finished

Fitting 5 folds for each of 20 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    1.4s
[Parallel(n_jobs=-1)]: Done  93 out of 100 | elapsed:    2.9s remaining:    0.2s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    3.0s finished
/Users/melchisedec/opt/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/melchisedec/opt/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Fitting 5 folds for each of 20 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    1.2s
[Parallel(n_jobs=-1)]: Done  93 out of 100 | elapsed:    2.7s remaining:    0.2s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    2.8s finished

Fitting 5 folds for each of 20 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    1.2s
[Parallel(n_jobs=-1)]: Done  93 out of 100 | elapsed:    2.9s remaining:    0.2s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    3.0s finished

Fitting 5 folds for each of 81 candidates, totalling 405 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 120 tasks      | elapsed:   23.9s
[Parallel(n_jobs=-1)]: Done 280 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 405 out of 405 | elapsed:  1.5min finished

Fitting 5 folds for each of 81 candidates, totalling 405 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 120 tasks      | elapsed:   23.0s
[Parallel(n_jobs=-1)]: Done 280 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 405 out of 405 | elapsed:  1.6min finished

Fitting 5 folds for each of 81 candidates, totalling 405 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 120 tasks      | elapsed:   22.9s
[Parallel(n_jobs=-1)]: Done 280 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 405 out of 405 | elapsed:  1.6min finished

Fitting 5 folds for each of 81 candidates, totalling 405 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 120 tasks      | elapsed:   23.0s
[Parallel(n_jobs=-1)]: Done 280 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 405 out of 405 | elapsed:  1.5min finished

Fitting 5 folds for each of 81 candidates, totalling 405 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    3.6s
[Parallel(n_jobs=-1)]: Done 120 tasks      | elapsed:   23.3s
[Parallel(n_jobs=-1)]: Done 280 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 405 out of 405 | elapsed:  1.5min finished

Fitting 5 folds for each of 8 candidates, totalling 40 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:  1.6min
[Parallel(n_jobs=-1)]: Done  40 out of  40 | elapsed:  2.6min finished

Fitting 5 folds for each of 8 candidates, totalling 40 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:  1.6min
[Parallel(n_jobs=-1)]: Done  40 out of  40 | elapsed:  2.6min finished

Fitting 5 folds for each of 8 candidates, totalling 40 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:  1.6min
[Parallel(n_jobs=-1)]: Done  40 out of  40 | elapsed:  2.7min finished

Fitting 5 folds for each of 8 candidates, totalling 40 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done  40 out of  40 | elapsed:  2.6min finished

Fitting 5 folds for each of 8 candidates, totalling 40 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done  40 out of  40 | elapsed:  2.6min finished

,dataset,model,trial,train_accuracy,train_precision,train_recall,train_specificity,train_f1,train_auc,train_logloss,test_accuracy,test_precision,test_recall,test_specificity,test_f1,test_auc,test_logloss
0,olympic,tree,1,0.95220,0.954655,0.997053,0.096386,0.975394,0.546719,1.650989,0.949827,0.953788,0.995456,0.069974,0.974177,0.532715,1.732942
1,olympic,tree,2,0.95680,0.958232,0.998108,0.144628,0.977764,0.571368,1.492108,0.950081,0.954340,0.995100,0.082620,0.974294,0.538860,1.724185
2,olympic,tree,3,0.95400,0.954911,0.998737,0.104000,0.976333,0.551368,1.588820,0.951000,0.953734,0.996816,0.067460,0.974799,0.532138,1.692422
3,olympic,tree,4,0.95000,0.952678,0.996839,0.074803,0.974259,0.535821,1.726976,0.948853,0.952527,0.995833,0.042469,0.973699,0.519151,1.766595
4,olympic,tree,5,0.96040,0.961701,0.998326,0.140271,0.979671,0.569299,1.367766,0.950568,0.953834,0.996214,0.072994,0.974563,0.534604,1.707359
5,olympic,tree,avg,0.95468,0.956436,0.997813,0.112018,0.976684,0.554915,1.565332,0.950066,0.953645,0.995884,0.067103,0.974306,0.531494,1.724701
6,olympic,log_reg,1,0.95020,0.950200,1.000000,0.000000,0.974464,0.500000,1.720071,0.950697,0.950697,1.000000,0.000000,0.974726,0.500000,1.702898
7,olympic,log_reg,2,0.95160,0.951600,1.000000,0.000000,0.975200,0.500000,1.671715,0.950662,0.950662,1.000000,0.000000,0.974707,0.500000,1.704100
8,olympic,log_reg,3,0.95000,0.950000,1.000000,0.000000,0.974359,0.500000,1.726979,0.950702,0.950702,1.000000,0.000000,0.974728,0.500000,1.702726
9,olympic,log_reg,4,0.94920,0.949200,1.000000,0.000000,0.973938,0.500000,1.754610,0.950722,0.950722,1.000000,0.000000,0.974739,0.500000,1.702040
10,olympic,log_reg,5,0.95580,0.955800,1.000000,0.000000,0.977401,0.500000,1.526649,0.950558,0.950558,1.000000,0.000000,0.974652,0.500000,1.707706
11,olympic,log_reg,avg,0.95136,0.951360,1.000000,0.000000,0.975072,0.500000,1.680005,0.950668,0.950668,1.000000,0.000000,0.974710,0.500000,1.703894
12,olympic,perceptron,1,0.04980,0.000000,0.000000,1.000000,0.000000,0.500000,32.818745,0.049303,0.000000,0.000000,1.000000,0.000000,0.500000,32.835918
13,olympic,perceptron,2,0.92880,0.955694,0.970156,0.115702,0.962870,0.542929,2.459195,0.927110,0.954348,0.969713,0.106196,0.961970,0.537955,2.517581
14,olympic,perceptron,3,0.05000,0.000000,0.000000,1.000000,0.000000,0.500000,32.811838,0.049298,0.000000,0.000000,1.000000,0.000000,0.500000,32.836089
15,olympic,perceptron,4,0.94920,0.949200,1.000000,0.000000,0.973938,0.500000,1.754610,0.950712,0.950722,0.999990,0.000000,0.974733,0.499995,1.702383
16,olympic,perceptron,5,0.95580,0.955800,1.000000,0.000000,0.977401,0.500000,1.526649,0.950558,0.950558,1.000000,0.000000,0.974652,0.500000,1.707706
17,olympic,perceptron,avg,0.58672,0.572139,0.594031,0.423140,0.582842,0.508586,14.274208,0.585396,0.571126,0.593941,0.421239,0.582271,0.507590,14.319935
18,olympic,knn,1,0.95020,0.950200,1.000000,0.000000,0.974464,0.500000,1.720071,0.950697,0.950697,1.000000,0.000000,0.974726,0.500000,1.702898
19,olympic,knn,2,0.95180,0.951790,1.000000,0.004132,0.975300,0.502066,1.664808,0.950464,0.950657,0.999786,0.000101,0.974603,0.499943,1.710968
20,olympic,knn,3,0.95180,0.951894,0.999789,0.040000,0.975254,0.519895,1.664807,0.948853,0.950867,0.997757,0.005748,0.973748,0.501752,1.766596
21,olympic,knn,4,0.94920,0.949200,1.000000,0.000000,0.973938,0.500000,1.754610,0.950722,0.950722,1.000000,0.000000,0.974739,0.500000,1.702040
22,olympic,knn,5,0.95580,0.955800,1.000000,0.000000,0.977401,0.500000,1.526649,0.950518,0.950556,0.999958,0.000000,0.974631,0.499979,1.709079
23,olympic,knn,avg,0.95176,0.951777,0.999958,0.008826,0.975271,0.504392,1.666189,0.950251,0.950700,0.999500,0.001170,0.974489,0.500335,1.718316
24,olympic,forest,1,0.96000,0.959604,1.000000,0.196787,0.979386,0.598394,1.381583,0.951115,0.952174,0.998745,0.032668,0.974904,0.515706,1.688475
25,olympic,forest,2,0.95940,0.959081,1.000000,0.161157,0.979113,0.580579,1.402307,0.951696,0.952394,0.999132,0.037683,0.975203,0.518407,1.668386
26,olympic,forest,3,0.97060,0.969982,1.000000,0.412000,0.984762,0.706000,1.015464,0.951353,0.952849,0.998227,0.047393,0.975010,0.522810,1.680233
27,olympic,forest,4,0.99940,0.999368,1.000000,0.988189,0.999684,0.994094,0.020724,0.949226,0.953053,0.995639,0.053768,0.973881,0.524704,1.753717
28,olympic,forest,5,0.96180,0.961755,0.999791,0.140271,0.980404,0.570031,1.319412,0.951498,0.951803,0.999592,0.026845,0.975112,0.513219,1.675255
29,olympic,forest,avg,0.97024,0.969958,0.999958,0.379681,0.984670,0.689820,1.027898,0.950978,0.952454,0.998267,0.039671,0.974822,0.518969,1.693213

In [27]:
olympic_results_svm = perform_trials('olympic', models_only_svm, olympic_X, olympic_y)
olympic_results_svm

Fitting 5 folds for each of 24 candidates, totalling 120 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   17.4s
/Users/melchisedec/opt/anaconda3/lib/python3.7/site-packages/joblib/externals/loky/process_executor.py:706: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
[Parallel(n_jobs=-1)]: Done 120 out of 120 | elapsed:  2.2min finished

Fitting 5 folds for each of 24 candidates, totalling 120 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   19.0s
[Parallel(n_jobs=-1)]: Done 120 out of 120 | elapsed:  2.1min finished

Fitting 5 folds for each of 24 candidates, totalling 120 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   18.0s
[Parallel(n_jobs=-1)]: Done 120 out of 120 | elapsed:  2.1min finished

Fitting 5 folds for each of 24 candidates, totalling 120 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   17.6s
[Parallel(n_jobs=-1)]: Done 120 out of 120 | elapsed:  2.1min finished

Fitting 5 folds for each of 24 candidates, totalling 120 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   15.5s
[Parallel(n_jobs=-1)]: Done 120 out of 120 | elapsed:  2.0min finished

,dataset,model,trial,train_accuracy,train_precision,train_recall,train_specificity,train_f1,train_auc,train_logloss,test_accuracy,test_precision,test_recall,test_specificity,test_f1,test_auc,test_logloss
0,olympic,svm,1,0.95020,0.95020,1.0,0.0,0.974464,0.5,1.720071,0.950697,0.950697,1.0,0.0,0.974726,0.5,1.702898
1,olympic,svm,2,0.95160,0.95160,1.0,0.0,0.975200,0.5,1.671715,0.950662,0.950662,1.0,0.0,0.974707,0.5,1.704100
2,olympic,svm,3,0.95000,0.95000,1.0,0.0,0.974359,0.5,1.726979,0.950702,0.950702,1.0,0.0,0.974728,0.5,1.702726
3,olympic,svm,4,0.94920,0.94920,1.0,0.0,0.973938,0.5,1.754610,0.950722,0.950722,1.0,0.0,0.974739,0.5,1.702040
4,olympic,svm,5,0.95580,0.95580,1.0,0.0,0.977401,0.5,1.526649,0.950558,0.950558,1.0,0.0,0.974652,0.5,1.707706
5,olympic,svm,avg,0.95136,0.95136,1.0,0.0,0.975072,0.5,1.680005,0.950668,0.950668,1.0,0.0,0.974710,0.5,1.703894

In [28]:
olympic_final_results = olympic_results_no_svm.append(olympic_results_svm, ignore_index=True)
olympic_final_results.to_csv('results/olympic_results.csv', index = False)

In [29]:
# display performance
pd.read_csv('results/olympic_results.csv')

,dataset,model,trial,train_accuracy,train_precision,train_recall,train_specificity,train_f1,train_auc,train_logloss,test_accuracy,test_precision,test_recall,test_specificity,test_f1,test_auc,test_logloss
0,olympic,tree,1,0.95220,0.954655,0.997053,0.096386,0.975394,0.546719,1.650989,0.949827,0.953788,0.995456,0.069974,0.974177,0.532715,1.732942
1,olympic,tree,2,0.95680,0.958232,0.998108,0.144628,0.977764,0.571368,1.492108,0.950081,0.954340,0.995100,0.082620,0.974294,0.538860,1.724185
2,olympic,tree,3,0.95400,0.954911,0.998737,0.104000,0.976333,0.551368,1.588820,0.951000,0.953734,0.996816,0.067460,0.974799,0.532138,1.692422
3,olympic,tree,4,0.95000,0.952678,0.996839,0.074803,0.974259,0.535821,1.726976,0.948853,0.952527,0.995833,0.042469,0.973699,0.519151,1.766595
4,olympic,tree,5,0.96040,0.961701,0.998326,0.140271,0.979671,0.569299,1.367766,0.950568,0.953834,0.996214,0.072994,0.974563,0.534604,1.707359
5,olympic,tree,avg,0.95468,0.956436,0.997813,0.112018,0.976684,0.554915,1.565332,0.950066,0.953645,0.995884,0.067103,0.974306,0.531494,1.724701
6,olympic,log_reg,1,0.95020,0.950200,1.000000,0.000000,0.974464,0.500000,1.720071,0.950697,0.950697,1.000000,0.000000,0.974726,0.500000,1.702898
7,olympic,log_reg,2,0.95160,0.951600,1.000000,0.000000,0.975200,0.500000,1.671715,0.950662,0.950662,1.000000,0.000000,0.974707,0.500000,1.704100
8,olympic,log_reg,3,0.95000,0.950000,1.000000,0.000000,0.974359,0.500000,1.726979,0.950702,0.950702,1.000000,0.000000,0.974728,0.500000,1.702726
9,olympic,log_reg,4,0.94920,0.949200,1.000000,0.000000,0.973938,0.500000,1.754610,0.950722,0.950722,1.000000,0.000000,0.974739,0.500000,1.702040
10,olympic,log_reg,5,0.95580,0.955800,1.000000,0.000000,0.977401,0.500000,1.526649,0.950558,0.950558,1.000000,0.000000,0.974652,0.500000,1.707706
11,olympic,log_reg,avg,0.95136,0.951360,1.000000,0.000000,0.975072,0.500000,1.680005,0.950668,0.950668,1.000000,0.000000,0.974710,0.500000,1.703894
12,olympic,perceptron,1,0.04980,0.000000,0.000000,1.000000,0.000000,0.500000,32.818745,0.049303,0.000000,0.000000,1.000000,0.000000,0.500000,32.835918
13,olympic,perceptron,2,0.92880,0.955694,0.970156,0.115702,0.962870,0.542929,2.459195,0.927110,0.954348,0.969713,0.106196,0.961970,0.537955,2.517581
14,olympic,perceptron,3,0.05000,0.000000,0.000000,1.000000,0.000000,0.500000,32.811838,0.049298,0.000000,0.000000,1.000000,0.000000,0.500000,32.836089
15,olympic,perceptron,4,0.94920,0.949200,1.000000,0.000000,0.973938,0.500000,1.754610,0.950712,0.950722,0.999990,0.000000,0.974733,0.499995,1.702383
16,olympic,perceptron,5,0.95580,0.955800,1.000000,0.000000,0.977401,0.500000,1.526649,0.950558,0.950558,1.000000,0.000000,0.974652,0.500000,1.707706
17,olympic,perceptron,avg,0.58672,0.572139,0.594031,0.423140,0.582842,0.508586,14.274208,0.585396,0.571126,0.593941,0.421239,0.582271,0.507590,14.319935
18,olympic,knn,1,0.95020,0.950200,1.000000,0.000000,0.974464,0.500000,1.720071,0.950697,0.950697,1.000000,0.000000,0.974726,0.500000,1.702898
19,olympic,knn,2,0.95180,0.951790,1.000000,0.004132,0.975300,0.502066,1.664808,0.950464,0.950657,0.999786,0.000101,0.974603,0.499943,1.710968
20,olympic,knn,3,0.95180,0.951894,0.999789,0.040000,0.975254,0.519895,1.664807,0.948853,0.950867,0.997757,0.005748,0.973748,0.501752,1.766596
21,olympic,knn,4,0.94920,0.949200,1.000000,0.000000,0.973938,0.500000,1.754610,0.950722,0.950722,1.000000,0.000000,0.974739,0.500000,1.702040
22,olympic,knn,5,0.95580,0.955800,1.000000,0.000000,0.977401,0.500000,1.526649,0.950518,0.950556,0.999958,0.000000,0.974631,0.499979,1.709079
23,olympic,knn,avg,0.95176,0.951777,0.999958,0.008826,0.975271,0.504392,1.666189,0.950251,0.950700,0.999500,0.001170,0.974489,0.500335,1.718316
24,olympic,forest,1,0.96000,0.959604,1.000000,0.196787,0.979386,0.598394,1.381583,0.951115,0.952174,0.998745,0.032668,0.974904,0.515706,1.688475
25,olympic,forest,2,0.95940,0.959081,1.000000,0.161157,0.979113,0.580579,1.402307,0.951696,0.952394,0.999132,0.037683,0.975203,0.518407,1.668386
26,olympic,forest,3,0.97060,0.969982,1.000000,0.412000,0.984762,0.706000,1.015464,0.951353,0.952849,0.998227,0.047393,0.975010,0.522810,1.680233
27,olympic,forest,4,0.99940,0.999368,1.000000,0.988189,0.999684,0.994094,0.020724,0.949226,0.953053,0.995639,0.053768,0.973881,0.524704,1.753717
28,olympic,forest,5,0.96180,0.961755,0.999791,0.140271,0.980404,0.570031,1.319412,0.951498,0.951803,0.999592,0.026845,0.975112,0.513219,1.675255
29,olympic,forest,avg,0.97024,0.969958,0.999958,0.379681,0.984670,0.689820,1.027898,0.950978,0.952454,0.998267,0.039671,0.974822,0.518969,1.693213
30,olympic,svm,1,0.95020,0.950200,1.000000,0.000000,0.974464,0.500000,1.720071,0.950697,0.950697,1.000000,0.000000,0.974726,0.500000,1.702898
31,olympic,svm,2,0.95160,0.951600,1.000000,0.000000,0.975200,0.500000,1.671715,0.950662,0.950662,1.000000,0.000000,0.974707,0.500000,1.704100
32,olympic,svm,3,0.95000,0.950000,1.000000,0.000000,0.974359,0.500000,1.726979,0.950702,0.950702,1.000000,0.000000,0.974728,0.500000,1.702726
33,olympic,svm,4,0.94920,0.949200,1.000000,0.000000,0.973938,0.500000,1.754610,0.950722,0.950722,1.000000,0.000000,0.974739,0.500000,1.702040
34,olympic,svm,5,0.95580,0.955800,1.000000,0.000000,0.977401,0.500000,1.526649,0.950558,0.950558,1.000000,0.000000,0.974652,0.500000,1.707706
35,olympic,svm,avg,0.95136,0.951360,1.000000,0.000000,0.975072,0.500000,1.680005,0.950668,0.950668,1.000000,0.000000,0.974710,0.500000,1.703894

In [ ]:
# combine datasets

In [ ]:
# create table 1

In [ ]:
# create table 2

In [ ]:
# create table 3